<div class="form">
<div class="wideRow">
    <label for="unidad" class="itemNarrow">PD:</label>
    <select class="itemWide" id="unidadId" name="unidadId" onchange="window.location.href='/cajas/<%= servbus.cajaId %>/servbuses/'+this.value">
	<option value="0" <%= 0 === servbus.unidadId ? "selected" : "" %>>Seleccione</option>
        <% for (var i in unidads) { %>
            <% var unidad=unidads[i]; %>
                <option value="<%= unidad.id %>" <%= unidad.id === servbus.unidadId ? "selected" : "" %>>
                    <%= unidad.codigo %>-<%= unidad.placa %>
                </option>
                <% } %>
    </select>
</div>
<% if (servbus.unidadId>0) { %>
<div class="wideRow">
    <label for="serviceId" class="itemNarrow">Servicio:</label>
    <select class="itemWide" id="serviceId" name="serviceId" onchange="window.location.href='/cajas/<%= servbus.cajaId %>/servbuses/<%= servbus.unidadId %>/'+this.value">
	<option value="0" <%= 0 === servbus.serviceId ? "selected" : "" %>>Seleccione</option>
        <% for (var i in services) { %>
            <% var service=services[i]; %>
                <option value="<%= service.id %>" <%= service.id === servbus.serviceId ? "selected" : "" %>>
                    <%= service.nombre %>
                </option>
                <% } %>
    </select>
</div>

<div class="wideRow">
    <label for="monto" class="itemNarrow">Monto:</label>
    <input type="text" class="itemWide" id="monto" name="monto" value="<%= servbus.monto %>" placeholder="Monto a Pagar"
        autocomplete="off" readonly />
        <input type="hidden" id="monto2" name="monto2" value="<%= servbus.monto %>" />
</div>

<div class="wideRow">
    <label for="fecha" class="itemNarrow">Fecha:</label>
    <input type="date" class="itemWide" id="fecha" name="fecha" value="<%= servbus.fecha.toISOString().split('T')[0] %>" placeholder="Fecha a Aplicar"
        autocomplete="off" />
</div>

<div class="wideRow">
    <label for="efectivo" class="itemNarrow">Efectivo:</label>
    <input type="text" class="itemWide" id="efectivo" name="efectivo" value="<%= servbus.efectivo %>"
        placeholder="Efectivo" autocomplete="off" />
</div>

<div class="wideRow">
    <label for="banco" class="itemNarrow">Banco:</label>
    <input type="text" class="itemWide" id="banco" name="banco" value="<%= servbus.banco %>"
        placeholder="Depósito, pdv, transferecia" autocomplete="off" />
</div>

<div class="wideRow">
    <label for="cpc" class="itemNarrow">Cpc:</label>
    <input type="text" class="itemWide" id="cpc" name="cpc" value="<%= servbus.cpc %>" placeholder="Cuenta por Cobrar"
        autocomplete="off" />
</div>

<div class="wideRow">
    <label for="anticipo" class="itemNarrow">Anticipo:</label>
    <input type="text" class="itemWide" id="anticipo" name="anticipo" value="<%= servbus.anticipo %>"
        placeholder="Aplicar Anticipo" autocomplete="off" readonly />
</div>
<% if (servbus.serviceId===1) { %>
<div class="wideRow">
    <label for="dctoFalla" class="itemNarrow">Dcto por Falla:</label>
    <input type="text" class="itemWide" id="dctoFalla" name="dctoFalla" value="<%= servbus.dctoFalla %>"
        placeholder="Dcto considerado por Falla Mecánica" autocomplete="off" />
</div>

<div class="wideRow">
    <label for="dctoSinietro" class="itemNarrow">Dcto por Siniestro:</label>
    <input type="text" class="itemWide" id="dctoSinietro" name="dctoSinietro" value="<%= servbus.dctoSinietro %>"
        placeholder="Dcto considerado por Sinietro" autocomplete="off" />
</div>

<div class="wideRow">
    <label for="dctoAutoridad" class="itemNarrow">Dcto por Autoridad:</label>
    <input type="text" class="itemWide" id="dctoAutoridad" name="dctoAutoridad" value="<%= servbus.dctoSinietro %>"
        placeholder="Dcto considerado por Inconv. con la Autoridad (R.V. Vencid, SOAT...)" autocomplete="off" />
</div>

<div class="wideRow">
    <label for="operadorId" class="itemNarrow">Operador:</label>
    <select class="itemWide" id="operadorId" name="operadorId">
	<option value="0" <%= 0 === servbus.operadorId ? "selected" : "" %>>Seleccione</option>
        <% for (var i in operadors) { %>
            <% var operador=operadors[i]; %>
                <option value="<%= operador.id %>" <%= operador.id === servbus.operadorId ? "selected" : "" %>>
                    <%= operador.nombre %> <%= operador.apellido %>
                </option>
                <% } %>
    </select>
</div>

<br/>
<div>Vueltas a Cancelar:</div>
<div></div>
<% for (var i in allCatvuelts) { %>
    <% var catvuelt = allCatvuelts[i]; %>

    <div>
            <input type="radio"
                   name="vueltasIds[]"
                   onchange="vueltCancelar('<%= catvuelt.valor %>')"
                   value="<%= catvuelt.id %>"
                   <%= servbusVueltasIds.includes(catvuelt.id) ? "checked" : "" %>
                   >
            <%= catvuelt.vuelta %>
    </div>
<% } %>
<% } %>
<% if (servbus.serviceId>0) { %>
<input type="submit" value="Guardar" onclick="return validarSer()">
<% } %>
<% } %>
<a href="/goback" class="button">Cancelar</a>
</div>

