<div class="form">
<div class="wideRow">
    <label for="unidad" class="itemNarrow"><span class="fa-solid fa-bus"></span> PD:</label>
    <select class="itemWide" id="unidadId" name="unidadId" onchange="window.location.href='/cajas/<%= servbus.cajaId %>/servbuses/'+this.value">
	<option value="0" <%= 0 === servbus.unidadId ? "selected" : "" %>>Seleccione</option>
        <% for (var i in unidads) { %>
            <% var unidad=unidads[i]; %>
                <option value="<%= unidad.id %>" <%= unidad.id === servbus.unidadId ? "selected" : "" %>>
                    <%= unidad.codigo %>-<%= unidad.placa %>
                </option>
                <% } %>
    </select>
</div>
<% if (servbus.unidadId>0) { %>
<div class="wideRow">
    <label for="serviceId" class="itemNarrow"><span class="fa-brands fa-shopify"></span> Servicio:</label>
    <select class="itemWide" id="serviceId" name="serviceId" onchange="window.location.href='/cajas/<%= servbus.cajaId %>/servbuses/<%= servbus.unidadId %>/'+this.value">
	<option value="0" <%= 0 === servbus.serviceId ? "selected" : "" %>>Seleccione</option>
        <% for (var i in services) { %>
            <% var service=services[i]; %>
                <option value="<%= service.id %>" <%= service.id === servbus.serviceId ? "selected" : "" %>>
                    <%= service.nombre.toUpperCase() %>
                </option>
                <% } %>
    </select>
</div>

<div class="wideRow">
    <label for="monto" class="itemNarrow"><span class="fa-solid fa-money-bill-1-wave"></span> Monto:</label>
    <input type="text" class="itemWide" id="monto" name="monto" value="0" placeholder="Monto a Pagar"
        autocomplete="off" readonly />
        <input type="hidden" id="monto2" name="monto2" value="<%= servbus.monto %>" />
</div>

<div class="wideRow">
    <label for="fecha" class="itemNarrow"><span class="fa-solid fa-calendar"></span> Fecha:</label>
    <input type="date" class="itemWide" id="fecha" name="fecha" value="<%= servbus.fecha.toISOString().split('T')[0] %>" placeholder="Fecha a Aplicar"
        autocomplete="off" />
</div>

<div class="wideRow">
    <label for="efectivo" class="itemNarrow"><span class="fa-solid fa-sack-dollar"></span> Efectivo:</label>
    <input type="text" class="itemWide" id="efectivo" name="efectivo" value="<%= servbus.efectivo %>"
        placeholder="Efectivo" autocomplete="off" />
</div>

<div class="wideRow">
    <label for="banco" class="itemNarrow"><span class="fa-solid fa-university"></span> Banco:</label>
    <input type="text" class="itemWide" id="banco" name="banco" value="<%= servbus.banco %>"
        placeholder="Depósito, pdv, transferecia" autocomplete="off" />
</div>

<div class="wideRow">
    <label for="cpc" class="itemNarrow"><span class="fa-solid fa-hand-holding-dollar"></span> Cpc:</label>
    <input type="text" class="itemWide" id="cpc" name="cpc" value="<%= servbus.cpc %>" placeholder="Cuenta por Cobrar"
        autocomplete="off" />
</div>

<div class="wideRow">
    <label for="anticipo" class="itemNarrow"><span class="fa-solid fa-business-time"></span> Anticipo:</label>
    <input type="text" class="itemWide" id="anticipo" name="anticipo" value="<%= servbus.anticipo %>"
        placeholder="Aplicar Anticipo" autocomplete="off" readonly />
</div>
<% if (servbus.serviceId===1) { %>
<div class="wideRow">
    <label for="dctoFalla" class="itemNarrow"><span class="fa-solid fa-screwdriver-wrench"></span> Dcto por Falla:</label>
    <input type="text" class="itemWide" id="dctoFalla" name="dctoFalla" value="<%= servbus.dctoFalla %>"
        placeholder="Dcto considerado por Falla Mecánica" autocomplete="off" />
</div>

<div class="wideRow">
    <label for="dctoSinietro" class="itemNarrow"><span class="fa-solid fa-ambulance"></span> Dcto por Siniestro:</label>
    <input type="text" class="itemWide" id="dctoSinietro" name="dctoSinietro" value="<%= servbus.dctoSinietro %>"
        placeholder="Dcto considerado por Sinietro" autocomplete="off" />
</div>

<div class="wideRow">
    <label for="dctoAutoridad" class="itemNarrow"><span class="fa-solid fa-id-card"></span> Dcto por Autoridad:</label>
    <input type="text" class="itemWide" id="dctoAutoridad" name="dctoAutoridad" value="<%= servbus.dctoSinietro %>"
        placeholder="Dcto considerado por Inconv. con la Autoridad (R.V. Vencid, SOAT...)" autocomplete="off" />
</div>

<div class="wideRow">
    <label for="operadorId" class="itemNarrow"><span class="fa-solid fa-male"></span> Operador:&nbsp;&nbsp;&nbsp;<span class="fa-solid fa-hand-holding-dollar"></span><input type="checkbox"
        id="cpcOper"
        name="cpcOper"
        onchange="cobrarOper(this)"
        > <input type="text" class="right" name ="cobrotxt" id="cobrotxt" style="height: 7px; width: 40px; background-color: rgb(232, 237, 238);" placeholder="Abono"> </label>
    <select class="itemWide" id="operadorId" name="operadorId">
	<option value="0" <%= 0 === servbus.operadorId ? "selected" : "" %>>Seleccione</option>
        <% for (var i in operadors) { %>
            <% var operador=operadors[i]; %>
                <option value="<%= operador.id+'T'+operador.servbId %>" <%= operador.id === servbus.operadorId ? "selected" : "" %>>
                    <%= operador.nombre.toUpperCase() %> <%= operador.apellido.toUpperCase() %>  <%= operador.cpc > 0 ? 'tiene una deuda del '+operador.fecha+' cpc:'+operador.cpc : "" %>
                </option>
                <% } %>
    </select>
</div>

<br/>
<div>Vueltas a Cancelar:</div>
<div></div>
<% for (var i in allCatvuelts) { %>
    <% var catvuelt = allCatvuelts[i]; %>

    <div>
            <input type="radio"
                   id="catvueltId2"
                   name="catvueltId2"
                   onchange="vueltCancelar('<%= catvuelt.valor %>')"
                   value="<%= catvuelt.id %>"
                   >
            <%= catvuelt.valor %>
    </div>
<% } %>
<br/>
<div>Recorrido:</div>
<div></div>
<% let acc=0; %>
<% for (var i in allCatvuelts) { %>
    <% var catvuelt = allCatvuelts[i]; %>
    <% let VueltasIds=servbusVueltasIds.filter(servbusVueltasId=> servbusVueltasId.catvueltId === catvuelt.id ); %>
    
    <div>
	<% if (VueltasIds.length>0) { %>
        <% let c = VueltasIds[0].color; %>
            <input type="checkbox"
                   name="vueltasrecIds[]"
                   value="<%= catvuelt.id %>"
                   disabled="true"
                   <%= VueltasIds.length>0 ? "checked" : "" %>
                   >
           <span style="background-color:<%= c %>; border-radius: 50%; padding: 3px"> <%= catvuelt.valor %></span> <span class="fa fa-usd"></span><%= VueltasIds[0].efectivo %>&nbsp;&nbsp;&nbsp;      
           <% if (VueltasIds[0].cpc>0) { %> 
            <span class="fa-solid fa-hand-holding-dollar"></span> 
            <%= VueltasIds[0].cpc %>
            <input type="checkbox"
                   name="cpcIds[]"
                   onchange="cobrarCpc('<%= VueltasIds[0].cpc %>', this)"
                   value="<%= VueltasIds[0].servbusId %>"
                   >
            &nbsp;&nbsp;&nbsp;  
            <% } %>
            <% if (VueltasIds[0].dctoFalla>0) { %> 
            <span class="fa-solid fa-screwdriver-wrench"></span>
            <%= VueltasIds[0].dctoFalla %>&nbsp;&nbsp;&nbsp;  
            <% } %>
            <% if (VueltasIds[0].dctoSinietro>0) { %> 
            <span class="fa-solid fa-ambulance"></span>
            <%= VueltasIds[0].dctoSinietro %>&nbsp;&nbsp;&nbsp;  
            <% } %>
            <% if (VueltasIds[0].dctoAutoridad>0) { %> 
                <span class="fa-solid fa-id-card"></span>
                <%= VueltasIds[0].dctoAutoridad %>&nbsp;&nbsp;&nbsp;  
                <% } %>
	<% } else {%>
		   <input type="radio"
                   id="catvueltId"
                   name="catvueltId"
                   value="<%= catvuelt.id %>"
                   >
            <%= catvuelt.valor %>
	<% } %>
    </div>
<% } %>
<% } %>
<% if (servbus.serviceId>0) { %>
<input type="submit" value="Guardar" onclick="return validarSer()">
<% } %>
<% } %>
<a href="/goback" class="button">Cancelar</a>
</div>

