<div class="form_two">
<div class="frmtwo_child">
    <label for="unidad"><span class="fa-solid fa-bus"></span> PD:<abbr title="required" aria-label="required">*</abbr></label>
    </div>

    <div class="frmtwo_child">
    <label for="serviceId"><span class="fa-brands fa-shopify"></span> Servicio:<abbr title="required" aria-label="required">*</abbr></label>
    </div>

    <div class="frmtwo_child">
  <select  id="unidadId" name="unidadId">
	<option value="0" disabled="disabled" <%= 0 === servbus.unidadId ? "selected" : "" %> >Seleccione</option>
        <% for (var i in unidads) { %>
            <% var unidad=unidads[i]; %>
                <option value="<%= unidad.id %>" <%= unidad.id === servbus.unidadId ? "selected" : "" %>>
                    <%= unidad.codigo %>-<%= unidad.placa %>
                </option>
                <% } %>
    </select>
</div>

    <div class="frmtwo_child">
    <select id="serviceId" name="serviceId" onchange="envia(<%= servbus.cajaId %>, this)">
	<option value="0" disabled="disabled" <%= 0 === servbus.serviceId ? "selected" : "" %>>Seleccione</option>
        <% for (var i in services) { %>
            <% var service=services[i]; %>
                <option value="<%= service.id %>" <%= service.id === servbus.serviceId ? "selected" : "" %>>
                    <%= service.nombre.toUpperCase() %>
                </option>
                <% } %>
    </select>
</div>
<% if (servbus.unidadId>0) { %>
<div class="frmtwo_child">
    <label for="monto"><span class="fa-solid fa-money-bill-1-wave"></span> Monto:<abbr title="required" aria-label="required">*</abbr>
    <input  type="radio" id="chMonto" name="chMonto" value="<%= servbus.monto2 %>" title="<%= servbus.descMont %>" onchange="cuenta('<%= servbus.monto2 %>')" checked ><%= servbus.descMont %>
<input  type="radio" id="chMonto" name="chMonto" value="<%=servbus.monto3 %>" title="<%= servbus.descMont2 %>" onchange="cuenta('<%= servbus.monto3 %>')"><%= servbus.descMont2 %>

<input  type="radio" id="chMonto" name="chMonto" value="<%= servbus.monto4 %>" title="<%= servbus.descMont3 %>" onchange="cuenta('<%= servbus.monto4 %>')" ><%= servbus.descMont3 %></label>
</div>

<div class="frmtwo_child">
    <label for="fecha" class="itemNarrow"><span class="fa-solid fa-calendar"></span> Fecha:<abbr title="required" aria-label="required">*</abbr></label>
    </div>

<div class="frmtwo_child">
    <input type="text" class="itemWide" id="monto" name="monto" value="<%= servbus.monto %>" placeholder="Monto a Pagar"
        autocomplete="off" readonly />
        <input type="hidden" id="monto2" name="monto2" value="<%= servbus.monto2 %>" />
<input type="hidden" id="monto3" name="monto4" value="<%= servbus.monto3 %>" />
<input type="hidden" id="monto3" name="monto4" value="<%= servbus.monto4 %>" />
</div>

    <div class="frmtwo_child">
  <input type="text" id="fecha" name="fecha" class="date" placeholder="Seleccione el/los dia(s)" value="<%= servbus.fecha.toISOString().split("T")[0] %>" autocomplete="off"  onchange="cotizar(this)"  readonly />
</div>

<div class="frmtwo_child">
    <label for="efectivo"><span class="fa-solid fa-sack-dollar"></span> Efectivo:<abbr title="required" aria-label="required">*</abbr></label>
    </div>

    <div class="frmtwo_child">
    <label for="banco"><span class="fa-solid fa-university"></span> Banco:</label></div>

    <div class="frmtwo_child">
    <input type="text" class="itemWide" id="efectivo" name="efectivo" value="<%= servbus.efectivo %>"
        placeholder="Efectivo" autocomplete="off" />
</div>


    <div class="frmtwo_child">
    <input type="text" class="itemWide" id="banco" name="banco" value="<%= servbus.banco %>"
        placeholder="Depósito, pdv, transferecia" autocomplete="off" />
</div>

<div class="frmtwo_child">
    <label for="cpc" class="itemNarrow"><span class="fa-solid fa-hand-holding-dollar"></span> Cpc:</label>
    </div>

    <div class="frmtwo_child">
    <label for="anticipo" class="itemNarrow"><span class="fa-solid fa-gas-pump"></span> Combustible:</label>
    </div>

    <div class="frmtwo_child">
    <input type="text" class="itemWide" id="cpc" name="cpc" value="<%= servbus.cpc %>" placeholder="Cuenta por Cobrar"
        autocomplete="off" />
</div>

    <div class="frmtwo_child">
    <input type="text" class="itemWide" id="anticipo" name="anticipo" value="<%= servbus.anticipo %>"
        placeholder="Aplicar Combustible"  autocomplete="off" <%= servbus.serviceId === 1  ? "" : "readonly" %> />
</div>
<input type="hidden" name="servuelta" id="servuelta" value="<%= servbus.servuelta %>">
<% if (servbus.servuelta === true) { %>

<div class="frmtwo_child">
    <label for="dctoFalla" class="itemNarrow"><span class="fa-solid fa-screwdriver-wrench"></span> Dcto por Falla:</label>
    </div>

    <div class="frmtwo_child">
    <label for="dctoSinietro" class="itemNarrow"><span class="fa-solid fa-ambulance"></span> Dcto por Siniestro:</label>
    </div>

    <div class="frmtwo_child">
    <input type="text" class="itemWide" id="dctoFalla" name="dctoFalla" value="<%= servbus.dctoFalla %>"
        placeholder="Dcto considerado por Falla Mecánica" autocomplete="off" />
</div>

    <div class="frmtwo_child">
    <input type="text" class="itemWide" id="dctoSinietro" name="dctoSinietro" value="<%= servbus.dctoSinietro %>"
        placeholder="Dcto considerado por Sinietro" autocomplete="off" />
</div>

<div class="frmtwo_child">
    <label for="dctoAutoridad" class="itemNarrow"><span class="fa-solid fa-id-card"></span> Dcto por Autoridad:</label>
    </div>

    <div class="frmtwo_child">
    <label for="operadorId" class="itemNarrow"><span class="fa-solid fa-male"></span> Operador:&nbsp;&nbsp;&nbsp;<span class="fa-solid fa-hand-holding-dollar"></span><input type="checkbox"
        id="cpcOper"
        name="cpcOper"
        onchange="cobrarOper(this)"
        > <input type="text" class="right" name ="cobrotxt" id="cobrotxt" style="height: 7px; width: 40px; background-color: rgb(232, 237, 238);" placeholder="Abono"> </label>
        </div>

    <div class="frmtwo_child">
    <input type="text" class="itemWide" id="dctoAutoridad" name="dctoAutoridad" value="<%= servbus.dctoSinietro %>"
        placeholder="Dcto considerado por Inconv. con la Autoridad (R.V. Vencid, SOAT...)" autocomplete="off" />
</div>

        <div class="frmtwo_child">
    <select id="operadorId" name="operadorId">
	<option value="0" <%= 0 === servbus.operadorId ? "selected" : "" %>>Seleccione</option>
        <% for (var i in operadors) { %>
            <% var operador=operadors[i]; %>
                <option value="<%= operador.id+'T'+operador.servbId+'T'+operador.cpc %>" <%= operador.id === servbus.operadorId ? "selected" : "" %>>
                    <%= operador.nombre.toUpperCase() %> <%= operador.apellido.toUpperCase() %>  <%= operador.cpc > 0 ? 'tiene una deuda del '+operador.fecha+' cpc:'+operador.cpc : "" %>
                </option>
                <% } %>
    </select>
</div>

<div class="frmtwo_child">Vueltas a Cancelar:</div>
<div class="frmtwo_child">Recorrido:</div>
<div class="frmtwo_child">
<label for="catvueltId2">
<% for (var i in allCatvuelts) { %>
    <% var catvuelt = allCatvuelts[i]; %>

    
            <input type="radio"
                   id="catvueltId2"
                   name="catvueltId2"
                   onchange="vueltCancelar('<%= catvuelt.valor %>')"
                   value="<%= catvuelt.id %>"
                   >
            <%= catvuelt.valor %>
    
<% } %>
</label>
</div>
<div class="frmtwo_child">
<label for="vueltasrecIds[]">
<% let acc=0; %>
<% for (var i in allCatvuelts) { %>
    <% var catvuelt = allCatvuelts[i]; %>
    <% let VueltasIds=servbusVueltasIds.filter(servbusVueltasId=> servbusVueltasId.catvueltId === catvuelt.id ); %>
    
    
	<% if (VueltasIds.length>0) { %>
        <% let c = VueltasIds[0].color; %>
            <input type="checkbox"
                   name="vueltasrecIds[]"
                   value="<%= catvuelt.id %>"
                   disabled="true"
                   <%= VueltasIds.length>0 ? "checked" : "" %>
                   >
           <span style="background-color:<%= c %>; border-radius: 50%; padding: 3px"> <%= catvuelt.valor %></span> <span class="fa fa-usd"></span><%= VueltasIds[0].efectivo %>
           <% if (VueltasIds[0].cpc>0) { %>
            <input type="checkbox" class="cbox"
                   name="cpcIds[]"
                   onchange="cobrarCpc('<%= VueltasIds[0].cpc %>', this)"
                   value="<%= VueltasIds[0].servbusId %>"
                   <%=  VueltasIds[0].servbuscId === servbus.id ? "checked" : "" %>
                   >
            <span class="fa-solid fa-hand-holding-dollar"></span> 
            <%= VueltasIds[0].cpc %>
            <% } %>
            <% if (VueltasIds[0].dctoFalla>0) { %> 
            <span class="fa-solid fa-screwdriver-wrench"></span>
            <%= VueltasIds[0].dctoFalla %>
            <% } %>
            <% if (VueltasIds[0].dctoSinietro>0) { %> 
            <span class="fa-solid fa-ambulance"></span>
            <%= VueltasIds[0].dctoSinietro %>
            <% } %>
            <% if (VueltasIds[0].dctoAutoridad>0) { %> 
                <span class="fa-solid fa-id-card"></span>
                <%= VueltasIds[0].dctoAutoridad %> 
                <% } %>
	<% } else {%>
		   <input type="radio"
                   id="catvueltId"
                   name="catvueltId"
                   value="<%= catvuelt.id %>"
                   >
            <%= catvuelt.valor %>
	<% } %>

   
<% } %>
</label>
 </div>
<% } %>
</div>
<% } %>
<a href="/goback"><input type="button" class="button_secundario" value="Cancelar"></a>
<% if (servbus.serviceId>0) { %>
<input type="submit" value="Guardar" class="button_primary" onclick="return validarSer()">
<% } %>




