<div class="toggle2">
    <span class="fa fa-bars"></span>
</div>
<div class="submenu">
        <a href="/cajas/<%= caja.id %>/servbuses" title="Servicios" class="in">Servicios</a>
        <a href="/cajas/<%= caja.id %>/cobros" title="Ventas">Ventas</a>
        <a href="/cajas/<%= caja.id %>/cobros" title="Cobros">Cobros</a>
        <a href="/cajas/<%= caja.id %>/ventas" title="Ventas">Gastos Ope.</a>
        <a href="/cajas/<%= caja.id %>/ventas" title="Ventas">Gastos Admón</a>
        <a href="/cajas/<%= caja.id %>/ventas" title="Ventas">Pagos</a>
        <a href="/cajas/<%= caja.id %>/ventas" title="Ventas">Retiros de Cajas</a>
    </div>

<% if (locals.loginUser) { %>
    <a href="/cajas/<%= caja.id %>/servbuses/new" class="button">Crear Nuevo Servicio</a>
    <% } %>
   
<% let totalGral=0; %>
<table id="cajaIndex">
    
    <tr>
        <th>Pd</th>
        <th>Monto</th>
        <th>Efectivo</th>
        <th>Cpc</th>
        <th>Falla</th>
        <th>Siniestro</th>
        <th>Autoridad</th>
        <th></th>
    </tr>

<% for (var n in services) { %>
    <% var service=services[n]; %>
    <% let servbuses=servibuses.filter(servibus=> servibus.serviceId === service.id ); %>
    <% let totalEfec=0; %>
    <tr>
        <td colspan="8" style="align-content: center;">
            <%= service.nombre %>
        </td>
    </tr>   
    <% for (var i in servbuses) { %>
        <% var servbus=servbuses[i]; %>
        <% totalEfec=totalEfec + servbus.efectivo; %>     
    <tr>
        <td>
            <%= servbus.pertUniSer.codigo %>-<%= servbus.pertUniSer.placa %>
        </td>
        <td>
            <%= servbus.monto %>
        </td>
        <td>
            <%= servbus.efectivo %>
        </td>
        <td>
            <%= servbus.cpc %>
        </td>
        <td>
            <%= servbus.dctoFalla %>
        </td>
        <td>
            <%= servbus.dctoSinietro %>
        </td>
        <td>
            <%= servbus.dctoAutoridad %>
        </td>
        <td>            
            <a href="servbuses/<%= servbus.id %>" class="link">Ver</a>
            <a href="/cajas/<%= caja.id %>/servbuses/<%= servbus.id %>/edit" class="link">Editar</a>
            <a href="/cajas/<%= caja.id %>/servbuses/<%= servbus.id %>?_method=DELETE" onClick="return confirm('Eliminar?: <%= servbus.monto %>');" class="link">Borrar</a>
        
        </td>
    </tr>

    <% } %>
    <tr>
        <th></th>
        <th></th>
        <th><%= totalEfec %></th>
        <th></th>
    </tr>
</table>
    <% totalGral=totalGral + totalEfec; %>
<% } %>

<h1>Total Efectivo: <%= totalGral %></h1>

<% include _main.ejs %>                                                                      