<div class="toggle2">
    <span class="fa-solid fa-sack-dollar"></span>
</div>
<div class="submenu">
        <a href="/cajas/<%= caja.id %>/servbuses" title="Servicios" class="in">Servicios</a>
        <a href="/cajas/<%= caja.id %>/cobros" title="Ventas">Ventas</a>
        <a href="/cajas/<%= caja.id %>/cobros" title="Cobros">Cobros</a>
        <a href="/cajas/<%= caja.id %>/ventas" title="Ventas">Gastos Ope.</a>
        <a href="/cajas/<%= caja.id %>/ventas" title="Ventas">Gastos Admón</a>
        <a href="/cajas/<%= caja.id %>/ventas" title="Ventas">Pagos</a>
        <a href="/cajas/<%= caja.id %>/ventas" title="Ventas">Retiros de Cajas</a>
    </div>

<% if (locals.loginUser) { %>
    <a href="/cajas/<%= caja.id %>/servbuses/new" class="button">Crear Nuevo Servicio</a>
    <% } %>
   
<% let totalGral=0; %>
<table id="cajaIndex">
    
    <tr>
        <th>Pd</th>
        <th>Recorrido</th>
        <th>Vlta Canc.</th>
        <th>Monto Uni</th>
        <th>Monto T.</th>
        <th>Efect</th>
	<th>Comb</th>
        <th>Cpc</th>
        <th>Falla</th>
        <th>Sntro</th>
        <th>Aut</th>
        <th></th>
    </tr>

<% for (var n in services) { %>
    <% var service=services[n]; %>
    <% let servbuses=servibuses.filter(servibus=> servibus.serviceId === service.id ); %>
    <% let totalEfec=0; %>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
	<td></td>
        <td><%= service.nombre %></td>
        <td></td>
        <td></td>
        <td></td>
      <td></td>
    </tr>   
    <% for (var i in servbuses) { %>
        <% var servbus=servbuses[i]; %>
        <% totalEfec=totalEfec + servbus.efectivo; %>     
    <tr>
        <td>
            <%= servbus.codigo %>-<%= servbus.placa %>
        </td>
        <td>
            <%= servbus.vuelta %>
        </td>   
        <td>
            <%= servbus.vltCanceladas %>
        </td> 
        <td>
            <%= servbus.montoUnitario %>
        </td>            
        <td>
            <%= servbus.monto %>
        </td>
        <td>
            <%= servbus.efectivo %>
        </td>
<td>
            <%= servbus.combustible %>
        </td>
        <td>
            <%= servbus.cpc %>
        </td>
        <td>
            <%= servbus.dctoFalla %>
        </td>
        <td>
            <%= servbus.dctoSinietro %>
        </td>
        <td>
            <%= servbus.dctoAutoridad %>
        </td>
        <td>            
            <a href="servbuses/<%= servbus.id %>" class="link">Ver</a>
            <a href="/cajas/<%= caja.id %>/servbuses/<%= servbus.id %>/edit" class="link">Editar</a>
            <a href="/cajas/<%= caja.id %>/servbuses/<%= servbus.id %>?_method=DELETE" onClick="return confirm('Eliminar?: <%= service.nombre %> Placa:<%= servbus.placa %> Efectivo:<%= servbus.efectivo %>');" class="link">Borrar</a>
        
        </td>
    </tr>

    <% } %>
    <tr>
      <th></th>
        <th></th>
        <th></th>
<th></th>
        <th><%= totalEfec %></th>
        <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
       <% totalGral=totalGral + totalEfec; %>
      <% } %>
</table>

<h2>Total Efectivo Servicios: <%= totalGral %></h2>

<% include _main.ejs %>                                                                      
