<div class="toggle2">
    <span class="fa-solid fa-sack-dollar"></span>
</div>
<div class="submenu">
        <a href="/cajas/<%= caja.id %>/servbuses" title="Servicios" class="in">Servicios</a>
        <a href="/cajas/<%= caja.id %>/vents" title="Ventas">Ventas</a>
        <a href="/cajas/<%= caja.id %>/cobros" title="Cobros">Cobros</a>
        <a href="/cajas/<%= caja.id %>/ventas" title="Ventas">Gastos Ope.</a>
        <a href="/cajas/<%= caja.id %>/ventas" title="Ventas">Gastos Admón</a>
        <a href="/cajas/<%= caja.id %>/ventas" title="Ventas">Pagos</a>
        <a href="/cajas/<%= caja.id %>/ventas" title="Ventas">Retiros de Cajas</a>
    </div>

<% if (locals.loginUser) { %>
    <a href="/cajas/<%= caja.id %>/servbuses/new" class="button">Crear Nuevo Servicio</a>
    <% } %>
   
<% let totalGral=0; %>
<div class="container">

<% for (var n in services) { %>
    <% var service=services[n]; %>
    <% let servbuses=servibuses.filter(servibus=> servibus.serviceId === service.id ); %>
    <% let totalEfec=0; %>
    <div class="row">
        <div class="col-12"><b><%= service.nombre %></b></div>
    </div>
           <div class="row">
        <div class="col-1">Pd</div>
        <div class="col-1">Recorrido</div>
        <div class="col-1">Vlta Canc.</div>
        <div class="col-1">Monto Uni</div>
        <div class="col-1">Monto T.</div>
        <div class="col-1">Efect</div>
        <div class="col-1">Comb</div>
        <div class="col-1">Cpc</div>
        <div class="col-1">Falla</div>
        <div class="col-1">Sntro</div>
        <div class="col-1">Aut</div>
        <div class="col-1"></div>
    </div>

    <% for (var i in servbuses) { %>
        <% var servbus=servbuses[i]; %>
        <% totalEfec=totalEfec + servbus.efectivo; %>  

    <div class="row">
        <div class="col-1"><%= servbus.codigo %>-<%= servbus.placa %></div>
        <div class="col-1"><%= servbus.vuelta %></div>
        <div class="col-1"><%= servbus.vltCanceladas %></div>
        <div class="col-1"><%= servbus.montoUnitario %></div>
        <div class="col-1"><%= servbus.monto %></div>
        <div class="col-1"><%= servbus.efectivo %></div>
        <div class="col-1"><%= servbus.combustible %></div>
        <div class="col-1"><%= servbus.cpc %></div>
        <div class="col-1"><%= servbus.dctoFalla %></div>
        <div class="col-1"><%= servbus.dctoSinietro %></div>
        <div class="col-1"><%= servbus.dctoAutoridad %></div>
        <div class="col-1">
         <a href="servbuses/<%= servbus.id %>"><i class="fa-regular fa-eye"></i></a>
            <a href="/cajas/<%= caja.id %>/servbuses/<%= servbus.id %>/edit"><i class="fa-regular fa-pen-to-square"></i></a>
            <a href="/cajas/<%= caja.id %>/servbuses/<%= servbus.id %>?_method=DELETE" onClick="return confirm('Eliminar?: <%= service.nombre %> Placa:<%= servbus.placa %> Efectivo:<%= servbus.efectivo %>');"><i class="fa-regular fa-trash-can"></i></a> 
           </div>
    </div>

    <% } %>
    <div class="row">
        <div class="col-12"><b><%= totalEfec %></b></div>
    </div>
    
       <% totalGral=totalGral + totalEfec; %>
      <% } %>
</div>

<h2>Total Efectivo Servicios: <%= totalGral %></h2>

<% include _main.ejs %>                                                                      
