<h1>
    Ver Servicio:
</h1>

<ul>
    <li>Id: <b>
        <%= servibus.id %>
    </b></li>
    <li>Pd: <b>
            <%= servibus.pertUniSer.codigo %>-<%= servibus.pertUniSer.placa %>
        </b></li>
    <li>Fecha Aplica: <b>
            <%= servibus.fecha %>
        </b></li>    
    <li>Monto: <b>
            <%= servibus.monto %>
        </b></li>
    <li>Efectivo: <b>
            <%= servibus.efectivo %>
        </b></li>
    <li>Cpc: <b>
            <%= servibus.cpc %>
        </b></li>
    <li>Dcto. por Falla Mecanica: <b>
            <%= servibus.dctoFalla %>
        </b></li>
    <li>Dcto por Siniestro (Choque, Caída de Pasajeros ...): <b>
            <%= servibus.dctoSinietro %>
        </b></li>
    <li>Dcto. por Inconv. con la autoridad (Rev. Tec, SOAT vencido ...): <b>
            <%= servibus.dctoSinietro %>
        </b></li>
    <li>Operador: <b>
            <%= servibus.pertOpeSer.nombre %> <%= servibus.pertOpeSer.apellido %>
        </b></li>
    <li>Vuelta: <b>
              <%=  vuelt !== null ? vuelt.pertCatvVue.vuelta : "" %>
        </b></li>        
</ul>

<a href="/goback" class="button"><i class="fa-regular fa-circle-left cursorpointer backPagos">Back</i></a>