
<div class="submenu">
         <a href="#" class="showCaja" data-id="<%= caja.id %>" title="Resumen Caja"><img align="top" width="20px" height="20px" src="/assets/img/flujo-de-efectivo.png"> Caja</a>
        <a href="/cajas/<%= caja.id %>/servbuses" title="Servicios" class="in">Servicios</a>
        <a href="/cajas/<%= caja.id %>/vents" title="Ventas"><b><u>Ventas</u></b></a>
        <a href="/cajas/<%= caja.id %>/cobros" title="Cobros">Cobros</a>
        <a href="/cajas/<%= caja.id %>/busgastos" title="Gastos Ope.">Gastos Ope.</a>
        <a href="/cajas/<%= caja.id %>/admgastos" title="Gastos Admón">Gastos Admón</a>
        <a href="/cajas/<%= caja.id %>/pagos" title="Pagos">Pagos</a>
        <a href="/cajas/<%= caja.id %>/anticipos" title="Anticipos">Anticipos D2</a>
        <a href="/cajas/<%= caja.id %>/retiros" title="Retiros de Cajas">Retiros de Cajas</a>
    </div>

<% if (locals.loginUser) { %>
    <a href="/cajas/<%= caja.id %>/vents/new" class="crear">Crear Nueva Venta</a>
    <% } %>
   
<% let totalGral=0; %>
<div class="container">

<% for (var n in productos) { %>
    <% var producto=productos[n]; %>
    <% let vntas=vents.filter(vta=> vta.productoId === producto.id ); %>
    <% let totalEfec=0; %>
    <div class="row">
        <div class="col-12"><b><%= producto.nombre.toUpperCase() %></b></div>
    </div>
    <div class="row flotante">
        <div class="col-1">Pd</div>
        <div class="col-1">Recorrido</div>
        <div class="col-1">Cant.</div>
        <div class="col-1">Monto Uni</div>
        <div class="col-1">Monto T.</div>
        <div class="col-1">Efect</div>
        <div class="col-1">Antcpo</div>
        <div class="col-1">Cpc</div>
        <div class="col-1">Falla</div>
        <div class="col-1">Sntro</div>
        <div class="col-1">Aut</div>
        <div class="col-1"></div>
    </div>
           
    <% for (var i in vntas) { %>
        <% var vta=vntas[i]; %>
        <% totalEfec=totalEfec + vta.efectivo; %>  

    <div class="row">
        <div class="col-1"><%= vta.codigo %>-<%= vta.placa %></div>
        <div class="col-1"><%= vta.vuelta %></div>
        <div class="col-1"><%= vta.cant %></div>
        <div class="col-1"><%= vta.precioVta %></div>
        <div class="col-1"><%= vta.monto.toFixed(2) %></div>
        <div class="col-1"><%= vta.efectivo %></div>
        <div class="col-1"><%= vta.anticipo.toFixed(2) %></div>
        <div class="col-1"><%= vta.cpc %></div>
        <div class="col-1"><%= vta.dctoFalla %></div>
        <div class="col-1"><%= vta.dctoSinietro %></div>
        <div class="col-1"><%= vta.dctoAutoridad %></div>
        <div class="col-1">
         <a href="vents/<%= vta.id %>"><i class="fa-regular fa-eye"></i></a>
        <% if (caja.cierre === false) { %>      
            <a href="/cajas/<%= caja.id %>/vents/<%= vta.id %>?_method=DELETE" onClick="return confirm('Eliminar?: <%= producto.nombre %> Placa:<%= vta.placa %> Efectivo:<%= vta.efectivo %>');"><i class="fa-regular fa-trash-can"></i></a> 
        <% } %>
           </div>
    </div>

    <% } %>
    <div class="row">
         <div class="col-1"></div>
        <div class="col-1"></div>
        <div class="col-1"></div>
        <div class="col-1"></div>
        <div class="col-1"></div>
        <div class="col-1"><b><%= totalEfec.toFixed(2) %></b></div>
        <div class="col-1"></div>
        <div class="col-1"></div>
        <div class="col-1"></div>
        <div class="col-1"></div>
        <div class="col-1"></div>
        <div class="col-1"></div>
    </div>
    
       <% totalGral=totalGral + totalEfec; %>
      <% } %>
</div>

<h2>Total Efectivo Ventas: <%= totalGral.toFixed(2) %></h2>

                                                                   
