<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
    <link href="/assets/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/assets/css/grid.css" />
    <link rel="stylesheet" href="/assets/css/datepicker.css" />
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel='stylesheet' type='text/css' media='only screen and (min-width: 800px) and (min-device-width: 600px)'
    href='/assets/css/wide.css' />
    <link rel='stylesheet' type='text/css' media='only screen and (max-width: 480px)'
    href='/assets/css/smartphone.css' />
    <title>Etersac</title>
    <meta name="description" content="" />
</head>

<body>

    <nav  class="fadeInDown">
        <div class="nav_logo">

            
            <div class="etersac_image">
                <h1 class="logo">Etersac</h1>
            </div>
        </div>

        <div class="nav_options">
            <ul>
                <li>
                    <% if (!locals.lcDespacho) { %>
                    <% } else { %>
                    <a href="#"> Despacho:<%= locals.lcDespacho %> <%= locals.lcFecha %></a>
                    <% } %>
                </li>
                 <li>
                 
            <input type="date" class="fechaMonitor" id="fechaMonitor" required>
            </li>
            <li>
  <% if (locals.loginUser) { %>
                <a href="#" class="monitor"><img align="top" width="20px" height="20px" src="/assets/img/analista-de-la-red.png"> Monitor</a>
            <% } %> 
                </li>
                <li>
                   <% if (locals.loginUser) { %>
            <a href="/users/<%= locals.loginUser.id %>/cajas"><img align="top" width="20px" height="20px" src="/assets/img/flujo-de-efectivo.png"> Mis Cajas</a>
            <% } %> 
                </li>
                <li>
                    <% if (!locals.loginUser) { %>
                    <a href="/login">Login</a>
                    <% } else { %>
                    <a href="/users/<%= loginUser.id %>">
                        <%= loginUser.displayName %>
                    </a>
                </li>
                <li>
                    <a href="/login?_method=DELETE" title="Salir"><span class="fa-solid fa-arrow-right-from-bracket"></span></a>
                    <% } %>
                </li>
            </ul>
        </div>

    </nav>
    <div class="flash">
        <% if (messages.info) { %>
        <article id='flashinfo'>
            <h3>Información de Interés:</h3>
            <ul>
                <% for (var i in messages.info) { %>
                <li>
                    <%= messages.info[i] %>
                </li>
                <% } %>
            </ul>
        </article>
        <% } %>
        <% if (messages.success) { %>
        <article id='flashsuccess'>
            <h3>
                <% for (var i in messages.success) { %>
                    <%= messages.success[i] %>
                <% } %>
            </h3>
        </article>
        <% } %>
        <% if (messages.error) { %>
        <article id='flasherror'>
            <h3>Errors:</h3>
            <ul>
                <% for (var i in messages.error) { %>
                <li>
                    <%= messages.error[i] %>
                </li>
                <% } %>
            </ul>
        </article>
        <% } %>

    </div>

    <div class="main fadeIn" id="mainSection">
       
        <%- body %>
    </div>

    <footer class="footer" id="mainFooter">
        &copy; Yilver Herrera
    </footer>
    
    <div class="sidebar">
        <div class="sidebar_items">
            <div class="sidebar_item"><a href="/"><span class="fa-solid fa-circle-notch"></span> Inicio</a></div>
            <div class="sidebar_item"><a href="/empresas"><span class="fa-solid fa-industry"></span> Empresas</a></div>
            <div class="sidebar_item"><a href="/routs"><span class="fa fa-road"></span> Rutas</a></div>
            <div class="sidebar_item"><a href="/propietarios"><span class="fa fa-user"></span> Propietarios</a></div>
            <div class="sidebar_item"><a href="/despachos"><span class="fa fa-ticket"></span> Despachos</a></div>
            <div class="sidebar_item"><a href="/unidads"><span class="fa fa-bus"></span> Unidades</a></div>
            <div class="sidebar_item"><a href="/confservices"><i class="fa-regular fa-circle-check"></i> Conf Servicio</a></div>
            <div class="sidebar_item"><a href="/Items/2"><span class="fa fa-barcode"></span> Ventas</a></div>
            <div class="sidebar_item"><a href="/grupos"><span class="fa fa-object-group"></span> Grupos</a></div>
            <% if (locals.loginUser) { %>
            <div class="sidebar_item"><a href="/cajas"><span class="fa-solid fa-users-rectangle"></span> Cajas</a></div>
            <div class="sidebar_item"><a href="/users/<%= locals.loginUser.id %>/cajas"><span class="fa-regular fa-rectangle-list"></span> Mis Cajas</a></div>
            <div class="sidebar_item"><a href="/users"><span class="fa-regular fa-user"></span> Users</a></div>
            <div class="sidebar_item"><a href="/nominas"><span class="fa-regular fa-user"></span> Nóminas</a></div>
            <% } %>
        </div>
    </div> 
    <div class="overlay">
        <div class="overlay_content">
           
        </div>
    </div>
    <div class="overlay_spinner">
        <div class="spinner">
            <img src="/assets/img/36712.svg" alt="">
        </div>
    </div>       


    <div class="overlay_max">
        <div class="overlay_content_max">
           
        </div>
    </div>
     <script defer src="/app/anime.min.js"></script>
    <script defer src="/app/jquery.min.js"></script>
    <script defer src='/app/bootstrap-datepicker.js'></script>
    <script defer src="/app/select2.min.js"></script>
    <script defer src="/app/main.js"></script>
    <script defer src="/app/pagos.js"></script>
    <script defer src="/app/animations.js"></script>
    <script defer src="/app/servicios.js"></script>
    <script defer src="/app/ventas.js"></script>
    <script defer src="/app/busgastos.js"></script>
    <script defer src="/app/nomina.js"></script>
    <script defer src="/app/financiera.js"></script>
    <script defer src="/app/retiros.js"></script>
    <script defer src="/app/caja.js"></script>
    <script defer src="/app/monitor.js"></script>
    <script defer src="/app/anticipo.js"></script>
</body>
</html>
