<h1>
    Nóminas:
</h1>


<% if (locals.loginUser) { %>
    <a href="/nominas/new" class="crear">Crear Nueva Nómina</a>
<% } %>

<div class="row">

        <div class="col-1">
        Salario Diario
        </div>

        <div class="col-1">
        Días Faltas
        </div>

        <div class="col-1">
        Monto Faltas
        </div>

        <div class="col-1">
        Fechas Faltas
        </div>

        <div class="col-2">
        Préstamos
        </div>

        <div class="col-1">
        Préstamos Total
        </div>

        <div class="col-1">
        Pago Neto
        </div>

        <div class="col-1">
        Quincena
        </div>

        <div class="col-2">
        Empleado
        </div>

        <div class="col-1">
        Faltas/Eliminar
        </div>

        </div>



    <% for (var i in nominas) { %>
        <% var nomina = nominas[i]; %>
        <div class="row">

        <div class="col-1">
        <%= nomina.diaSalario %>
        </div>

        <div class="col-1">
        <%= nomina.diasFalta %>
        </div>

        <div class="col-1">
        <%= nomina.montoFalta %>
        </div>

        <div class="col-1">
        <% var diasFaltasDesc = nomina.diasFaltaDescripcion.split("T"); %>
        <% for (var n in diasFaltasDesc) { %>
        <% var diasFalta = diasFaltasDesc[n]; %>
        <%= diasFalta %><br>
        <% } %>
        </div>

        <div class="col-2">
        <%= nomina.dctoPrestamoIds %>
        </div>

        <div class="col-1">
        <%= nomina.dctoPrestamoTotal %>
        </div>

        <div class="col-1">
        <%= nomina.totalPago %>
        </div>

        <div class="col-1">
        <%= nomina.pertQuiNom.desde %> <%= nomina.pertQuiNom.hasta %>
        </div>

        <div class="col-2">
        <%= nomina.pertEmpNom.nombres %>
        </div>

        <div class="col-1">
        <img class="nuevoPagoNomina" src="/assets/img/pago-en-efectivo.png" width="20px" data-id="<%= nomina.id %>" data-emp="<%= nomina.empleadoId %>">
        
        <img class="nuevaFalta" src="/assets/img/descalificado.png" width="20px" data-id="<%= nomina.id %>" data-emp="<%= nomina.empleadoId %>">
        </div>

        </div>
    
    <% } %>

