
<div class="submenu">
        <a href="/cajas/<%= caja.id %>/servbuses" title="Servicios" class="in">Servicios</a>
        <a href="/cajas/<%= caja.id %>/vents" title="Ventas">Ventas</a>
        <a href="/cajas/<%= caja.id %>/cobros" title="Cobros">Cobros</a>
        <a href="/cajas/<%= caja.id %>/busgastos" title="Gastos Ope.">Gastos Ope.</a>
        <a href="/cajas/<%= caja.id %>/admgastos" title="Gastos Admón">Gastos Admón</a>
        <a href="/cajas/<%= caja.id %>/pagos" title="Pagos"><b><u>Pagos</u></b></a>
        <a href="/cajas/<%= caja.id %>/anticipos" title="Anticipos">Anticipos</a>
        <a href="/cajas/<%= caja.id %>/retiros" title="Retiros de Cajas">Retiros de Cajas</a>
    </div>

<input type="hidden" id="cajaId" nombre="cajaId" value="<%= caja.id %>">
    <i class="fa-regular fa-circle-left cursorpointer backPagos">Back</i>

<div class="row">

        <div class="col-1">
        Salario
        </div>

        <div class="col-1">
        Días Faltas
        </div>

        <div class="col-1">
        Monto Faltas
        </div>

        <div class="col-1">
        Fechas Faltas
        </div>

        <div class="col-2">
        Préstamos
        </div>

        <div class="col-1">
        Préstamos Total
        </div>

          <div class="col-1">
        Pagos
        </div>

        <div class="col-1">
        Saldo
        </div>

        <div class="col-1">
        Quincena
        </div>

        <div class="col-1">
        Empleado
        </div>

        <div class="col-1">
        Pagar/Falta
        </div>

      
        </div>



    <% for (var i in nominas) { %>
        <% var nomina = nominas[i]; %>
        <div class="row">

        <div class="col-1">
        <%= nomina.salario %>
        </div>

        <div class="col-1">
        <%= nomina.diasFalta %>
        </div>

        <div class="col-1">
        <%= nomina.montoFalta %>
        </div>

        <div class="col-1">
        <% var diasFaltasDesc = nomina.diasFaltaDescripcion.split("T"); %>
        <% for (var n in diasFaltasDesc) { %>
        <% var diasFalta = diasFaltasDesc[n]; %>
        <%= diasFalta %><% if (diasFalta !== "") {%><span class="fa-regular fa-x delFalta" data-id="<%= nomina.id %>" data-fecha="<%= diasFalta %>"></span><% } %><br>
        <% } %>
        </div>

        <div class="col-2">
        <%= nomina.dctoPrestamoIds %>
        </div>

        <div class="col-1">
        <%= nomina.dctoPrestamoTotal %>
        </div>

         <div class="col-1">
         <%= nomina.pagos %>
         <span class="fa-regular fa-eye cursorpointer showPagoNomina" data-id="<%= nomina.id %>"></span>
           </div>

        <div class="col-1">
        <%= nomina.saldo %>
        </div>

        <div class="col-1">
        <%= nomina.desde %> <%= nomina.hasta %>
        </div>

        <div class="col-1">
        <%= nomina.nombres %>
        </div>

        <div class="col-1">
        <% if (caja.cierre === false) { %>    
        <img class="cursorpointer nuevoPagoNomina" src="/assets/img/pago-en-efectivo.png" width="20px" data-id="<%= nomina.id %>" data-emp="<%= nomina.nombres %>">
        
        <img class="cursorpointer nuevaFalta" src="/assets/img/descalificado.png" width="20px" data-id="<%= nomina.id %>" data-emp="<%= nomina.empleadoId %>">
        <% } %>
        </div>
       
        </div>
    
    <% } %>

