<h1>
    Editar Caja:
</h1>

<form method="post" action="/cajas/<%= caja.id %>?_method=PUT">
<div class="form_one">
    <div class="label">
        <label for="name" class="itemNarrow">Despacho:</label>
        </div>
        <div class="input">
        <select id="despacho" name="despacho">
            <% for (var i in despachos) { %>
                <% var despacho = despachos[i]; %>
            <option value="<%= despacho.id %>" <%= despachoIds.includes(despacho.id) ? "selected" : "" %>><%= despacho.name %> Ruta:<%= caja.despachoId %></option>
            <% } %>
        </select>                
    </div>
    <div class="label">
        <label for="name" class="itemNarrow">Fecha:</label>
        </div>
        <div class="input">
        <input type="date" class="itemWide" id="fecha" name="fecha" value="<%= caja.fecha.toISOString().split('T')[0]; %>" placeholder="Fecha"
               autocomplete="off"/>
    </div>

    <br/>

    <button class="button_secundario" href="/goback">Cancel</button>

    <input class="button_primary" type="submit" value="Save">
</div>
</form>