<h1>
    <%= title || "Cajas" %>:
</h1>


    <% for (var i in cajas) { %>
        <% var caja = cajas[i]; %>
        
           

          
                <% if (locals.loginUser && (locals.loginUser.isAdmin || locals.loginUser.id === caja.authorId)) { %>
                    <a href="/cajas/<%= caja.id %>/servbuses" class="resalt">Despacho: <%= caja.pertDesCaj.name %> Autor: <%= caja.author.username %> Fecha: <%= caja.fecha; %></a>
                <% } %>   
                               
           
                  <% if (locals.loginUser.isAdmin) { %>    
                    <a href="/cajas/<%= caja.id %>/edit"><i class="fa-regular fa-pen-to-square"></i></a>
                    <a href="/cajas/<%= caja.id %>?_method=DELETE"
                       onClick="return confirm('Seguro? Se eliminarán todos los registros de la Caja <%= caja.id %>');"
                       ><i class="fa-regular fa-trash-can"></i></a>
                <% } %>
                <br>
    
    <% } %>
<br>
<br>
<br>
<% if (locals.loginUser) { %>
    <a href="/cajas/new" class="crear">Crear Nueva Caja</a>
<% } %>
