

<h1>
    
</h1>

<table id="quizzesIndex">
    <% for (var i in servbuses) { %>
        <% var servbus=servbuses[i]; %>
            <tr>

                <td>
                    <%= servbus.monto %>
                </td>

                <td>

                    <br />

                    <% if (locals.loginUser && (locals.loginUser.isAdmin || locals.loginUser.id===caja.authorId)) { %>
                        <a href="/servbuss/<%= servbus.id %>" class="button">Show</a>
                        <a href="/servbuss/<%= servbus.id %>/edit" class="button">Edit</a>
                        <a href="/servbuss/<%= servbus.id %>?_method=DELETE"
                            onClick="return confirm('Delete: <%= servbus.monto %>');" class="button">Delete</a>
                        <% } %>
                </td>
            </tr>
            <% } %>
</table>

<% if (locals.loginUser) { %>
    <a href="/cajas/<%= caja.id %>/servbuses/new" class="button">Crear Nuevo Servicio</a>
    <% } %>