<div class="right">
    <small> (by <%= caja.author ? caja.author.displayName : "Anonymous" %>) </small>
</div>

<h1>
    Mostrar Caja:
</h1>

<div class="cajaItem">

    <div>
        Saldo Inicial: <b></b>
        <br/>
        Ingresos Empresa: <b><%= caja.ingresoIsEmpresa %></b>
        <br/>
        <b>Acivos Corrientes</b>
        </br>
        Caja Efectivo: <%= caja.caja %>
        <br/>
        Depositos, Transferencias: <%= caja.banco %>
        <br/>
        Cuentas por Cobrar a Operadores: <%= caja.cpcOperador %>
        <br/>
        <br/>
        Egresos Empresa: <b><%= caja.egresoIsEmpresa %></b>
        <br/>
        Gastos al contado operativos, Administrativos:
        <br/>
        Cuentas por Pagar a Proveedores <%= caja.cppProveedor %>
        <br/>
        Neto Empresa: <b><%= caja.egresoIsEmpresa %></b>
        <br/>
        
        
    </div>

</div>

<a href="/goback" class="button">Go back</a>