<div class="toggle2">
    <span class="fa-solid fa-sack-dollar"></span>
</div>
<div class="submenu">
         <a href="#" class="showCaja" data-id="<%= caja.id %>" title="Resumen Caja"><img align="top" width="20px" height="20px" src="/assets/img/flujo-de-efectivo.png"> Caja</a>
        <a href="/cajas/<%= caja.id %>/servbuses" title="Servicios" class="in">Servicios</a>
        <a href="/cajas/<%= caja.id %>/vents" title="Ventas">Ventas</a>
        <a href="/cajas/<%= caja.id %>/cobros" title="Cobros">Cobros</a>
        <a href="/cajas/<%= caja.id %>/busgastos" title="Gastos Ope.">Gastos Ope.</a>
        <a href="/cajas/<%= caja.id %>/admgastos" title="Gastos Admón">Gastos Admón</a>
        <a href="/cajas/<%= caja.id %>/pagos" title="Pagos">Pagos</a>
        <a href="/cajas/<%= caja.id %>/anticipos" title="Anticipos"><b><u>Anticipos D2</u></b></a>
        <a href="/cajas/<%= caja.id %>/retiros" title="Retiros de Cajas">Retiros de Cajas</a>
    </div>

<% if (locals.loginUser) { %>
    <a href="/cajas/<%= caja.id %>/anticipos/new" class="crear">Crear Nuevo Anticipo</a>
    <% } %>
   
<div class="container">

    <div class="row">
        <div class="col-3">Pd</div>
        <div class="col-3">Monto</div>
        <div class="col-3">Efectivo</div>
        <div class="col-3"> </div>
    </div>
 
    <% let totalEfec=0; %>
<% for (var n in anticipos) { %>
    <% var anticipo=anticipos[n]; %>
    <% totalEfec = totalEfec + anticipo.monto; %>
    <div class="row">
        <div class="col-3"><%= anticipo.pertUniAnt.codigo %>-<%= anticipo.pertUniAnt.placa %></div>
        <div class="col-3"><%= anticipo.monto %></div>
        <div class="col-3"><%= anticipo.monto %></div>
        <div class="col-3">
         <% if (caja.cierre === false) { %>    
            <a href="/cajas/<%= caja.id %>/anticipos/<%= anticipo.id %>?_method=DELETE" onClick="return confirm('Eliminar?: Placa:<%= anticipo.pertUniAnt.placa %> Efectivo:<%= anticipo.monto %>');"><i class="fa-regular fa-trash-can"></i></a> 
         <% } %>
           </div>
    </div>

    <% } %>
    <div class="row">
    <div class="col-3"></div>
        <div class="col-3"></div>
        <div class="col-3"><b><%= totalEfec %></b></div>
        <div class="col-3"> </div>
    </div>
    

</div>

<h2>Total Efectivo Anticipos: <%= totalEfec %></h2>
                                                                     
