<div class="toggle2">
    <span class="fa-solid fa-sack-dollar"></span>
</div>
<div class="submenu">
        <a href="/cajas/<%= caja.id %>/servbuses" title="Servicios" class="in">Servicios</a>
        <a href="/cajas/<%= caja.id %>/vents" title="Ventas">Ventas</a>
        <a href="/cajas/<%= caja.id %>/cobros" title="Cobros">Cobros</a>
        <a href="/cajas/<%= caja.id %>/gastopvos" title="Gastos Ope.">Gastos Ope.</a>
        <a href="/cajas/<%= caja.id %>/gastadvos" title="Gastos Admón">Gastos Admón</a>
        <a href="/cajas/<%= caja.id %>/pagos" title="Pagos">Pagos</a>
        <a href="/cajas/<%= caja.id %>/anticipos" title="Anticipos"><b><u>Anticipos</u></b></a>
        <a href="/cajas/<%= caja.id %>/retiros" title="Retiros de Cajas">Retiros de Cajas</a>
    </div>

<% if (locals.loginUser) { %>
    <a href="/cajas/<%= caja.id %>/anticipos/new" class="crear">Crear Nuevo Anticipo</a>
    <% } %>
   
<div class="container">

    <div class="row flotante">
        <div class="col-3">Pd</div>
        <div class="col-3">Monto</div>
        <div class="col-3">Efect</div>
        <div class="col-3"></div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <% let totalEfec=0; %>
<% for (var n in anticipos) { %>
    <% var anticipo=anticipos[n]; %>
    <% totalEfec = totalEfec + anticipo.efectivo; %>
    <div class="row">
        <div class="col-3"><%= anticipo.pertUniAnt.codigo %>-<%= anticipo.pertUniAnt.placa %></div>
        <div class="col-3"><%= anticipo.monto %></div>
        <div class="col-3"><%= anticipo.efectivo %></div>
        <div class="col-3">
         <a href="anticipos/<%= anticipo.id %>"><i class="fa-regular fa-eye"></i></a>
            <a href="/cajas/<%= caja.id %>/anticipos/<%= anticipo.id %>/edit"><i class="fa-regular fa-pen-to-square"></i></a>
            <a href="/cajas/<%= caja.id %>/anticipos/<%= anticipo.id %>?_method=DELETE" onClick="return confirm('Eliminar?: Placa:<%= anticipo.pertUniAnt.placa %> Efectivo:<%= anticipo.efectivo %>');"><i class="fa-regular fa-trash-can"></i></a> 
           </div>
    </div>

    <% } %>
    <div class="row">
        <div class="col-12"><b><%= totalEfec %></b></div>
    </div>
    

</div>

<h2>Total Efectivo Anticipos: <%= totalEfec %></h2>
                                                                     
