<h1>
    Editar Grupo:
</h1>

<form method="post" action="/grupos/<%= grupo.id %>?_method=PUT">
<div class="form_two">
    <div class="frmtwo_child">
        <label for="nombre">Nombre:</label>
        </div>
        <div class="frmtwo_child">
        <label for="descripcion">Descripción:</label>
        </div>
        <div class="frmtwo_child">
        <input type="text" id="nombre" name="nombre" value="<%= grupo.nombre %>" placeholder="Nombre"
            autocomplete="off" />
    </div>

    
        <div class="frmtwo_child">
        <input type="text" id="descripcion" name="descripcion" value="<%= grupo.descripcion %>"
            placeholder="Descripción" autocomplete="off" />
    </div>

    <div class="frmtwo_child">
        <label for="isEmpresa">Pertenece:</label>
        </div>
        <div class="frmtwo_child">
        <label for="showCaja">Mostrar en Caja:</label>
        </div>
        <div class="frmtwo_child">
        <select id="isEmpresa" name="isEmpresa">
        <option value="true" <%= true === grupo.isEmpresa ? "selected" : "" %>>
                Empresa
            </option>
              <option value="false" <%= false === grupo.isEmpresa ? "selected" : "" %>>
                Tercero
            </option>
        </select>
    </div>

    
        <div class="frmtwo_child">
        <select id="showCaja" name="showCaja">
            <option value="false" <%= false === grupo.showCaja ? "selected" : "" %>>
                No
            </option>
            <option value="true" <%= true === grupo.showCaja ? "selected" : "" %>>
                Sí
            </option>
        </select>
    </div>

    <div class="frmtwo_child">
        <label for="showAutAdm">Mostrar sólo a Autor y/o Admin:</label>
        </div>
        <div class="frmtwo_child">
        <label for="allRuta">Mostrar a todas las Rutas de Empresa:</label>
        </div>
        <div class="frmtwo_child">
        <select id="showAutAdm" name="showAutAdm">
            <option value="false" <%= false === grupo.showAutAdm ? "selected" : "" %>>
                No
            </option>
            <option value="true" <%= true === grupo.showAutAdm ? "selected" : "" %>>
                Sí
            </option>
        </select>
    </div>

    
        <div class="frmtwo_child">
        <select id="allRuta" name="allRuta">
            <option value="false" <%= false === grupo.allRuta ? "selected" : "" %>>
                No
            </option>
            <option value="true" <%= true === grupo.allRuta ? "selected" : "" %>>
                Sí
            </option>
        </select>
    </div>

    <div class="frmtwo_child">
        <label for="empresaId">Empresa:</label>
        </div>
        <div class="frmtwo_child">
        <label for="routId" >Ruta:</label>
        </div>
        <div class="frmtwo_child">
        <select id="empresaId" name="empresaId">
            <% for (var i in empresas) { %>
                <% var empresa=empresas[i]; %>
                    <option value="<%= empresa.id %>" <%=empresa.id===grupo.empresaId ? "selected" : "" %>>
                        <%= empresa.razon %>
                    </option>
                    <% } %>
        </select>
    </div>

    
        <div class="frmtwo_child">
        <select id="routId" name="routId">
            <% for (var i in routs) { %>
                <% var rout=routs[i]; %>
                    <option value="<%= rout.id %>" <%=rout.id===grupo.routId ? "selected" : "" %>>
                        <%= rout.nombre %>
                    </option>
                    <% } %>
        </select>
    </div>

    <br />
    <table>
        <% for (var i in allUnidads) { %>
            <% var unidad=allUnidads[i]; %>
                <% if ((i===0)||(i % 10===0)) { %>
                    <tr>
                        <% } %>
                            <td>
                                <input type="checkbox" name="unidadsIds[]" value="<%= unidad.id %>"
                                    <%=grupoUnidadsIds.includes(unidad.id) ? "checked" : "" %>
                                >
                                <%= unidad.placa %>
                            </td>
                            <% if ((i + 1) % 10===0) { %>
                    </tr>
                    <% } %>
                        <% } %>
    </table>
    <br />
    <div>
    </div>
    </div>
    <a href="/goback"><input type="button" class="button_secundario" value="Cancelar"></a>

    <input class="button_primary" type="submit" value="Guardar">
    
</form>