<h1>
  Nuevo Grupo:
</h1>

<form method="post" action="/grupos">
<div class="form_one">
  <div class="label">
    <label for="nombre">Nombre:</label>
    </div>
    <div class="input">
    <input type="text" id="nombre" name="nombre" value="<%= grupo.nombre %>" placeholder="Nombre"
      autocomplete="off" />
  </div>

  <div class="label">
    <label for="descripcion">Descripción:</label>
    </div>
    <div class="input">
    <input type="text" id="descripcion" name="descripcion" value="<%= grupo.descripcion %>"
      placeholder="Descripción" autocomplete="off" />
  </div>

  <div class="label">
    <label for="isEmpresa">Pertenece:</label>
    </div>
    <div class="input">
    <select id="isEmpresa" name="isEmpresa">
      <option value="true" <%='true'===grupo.IsEmpresa ? "selected" : "" %>>
        Empresa
      </option>
      <option value="false" <%='false'===grupo.IsEmpresa ? "selected" : "" %>>
        Tercero
      </option>
    </select>
  </div>

  <div class="label">
    <label for="showCaja">Mostrar en Caja:</label>
    </div>
    <div class="input">
    <select class="itemWide" id="showCaja" name="showCaja">
      <option value="false" <%='false'===grupo.showCaja ? "selected" : "" %>>
        No
      </option>
      <option value="true" <%='true'===grupo.showCaja ? "selected" : "" %>>
        Sí
      </option>
    </select>
  </div>

  <div class="label">
    <label for="showAutAdm">Mostrar sólo a Autor y/o Admin:</label>
    </div>
    <div class="input">
    <select id="showAutAdm" name="showAutAdm">
      <option value="false" <%='false'===grupo.showAutAdm ? "selected" : "" %>>
        No
      </option>
      <option value="true" <%='true'===grupo.showAutAdm ? "selected" : "" %>>
        Sí
      </option>
    </select>
  </div>

  <div class="label">
    <label for="allRuta">Mostrar a todas las Rutas de Empresa:</label>
    </div>
    <div class="input">
    <select id="allRuta" name="allRuta">
      <option value="false" <%='false'===grupo.allRuta ? "selected" : "" %>>
        No
      </option>
      <option value="true" <%='true'===grupo.allRuta ? "selected" : "" %>>
        Sí
      </option>
    </select>
  </div>

  <div class="label">
    <label for="empresaId" class="itemNarrow">Empresa:</label>
    </div>
    <div class="input">
    <select id="empresaId" name="empresaId">
      <% for (var i in empresas) { %>
        <% var empresa=empresas[i]; %>
          <option value="<%= empresa.id %>" <%=empresa.id===grupo.empresaId ? "selected" : "" %>>
            <%= empresa.razon %>
          </option>
          <% } %>
    </select>
  </div>

  <div class="label">
    <label for="routId">Ruta:</label>
    </div>
    <div class="input">
    <select id="routId" name="routId">
      <% for (var i in routs) { %>
        <% var rout=routs[i]; %>
          <option value="<%= rout.id %>" <%=rout.id===grupo.routId ? "selected" : "" %>>
            <%= rout.nombre %>
          </option>
          <% } %>
    </select>
  </div>
  <br />
  <button href="/goback" class="button_secundario">Cancelar</button>

  <input class="button_primary" type="submit" value="Guardar">
</div>
</form>