<div class="submenu">
        <a href="#" class="showCaja" data-id="<%= caja.id %>" title="Resumen Caja"><img align="top" width="20px" height="20px" src="/assets/img/flujo-de-efectivo.png"> Caja</a>
        <a href="/cajas/<%= caja.id %>/servbuses" title="Servicios">Servicios</a>
        <a href="/cajas/<%= caja.id %>/vents" title="Ventas">Ventas</a>
        <a href="/cajas/<%= caja.id %>/cobros" title="Cobros">Cobros</a>
        <a href="/cajas/<%= caja.id %>/busgastos" title="Gastos Ope.">Gastos Ope.</a>
        <a href="/cajas/<%= caja.id %>/admgastos" title="Gastos Admón">Gastos Admón</a>
        <a href="/cajas/<%= caja.id %>/pagos" title="Pagos"><b><u>Pagos</u></b></a>
        <a href="/cajas/<%= caja.id %>/anticipos" title="Anticipos">Anticipos D2</a>
        <a href="/cajas/<%= caja.id %>/retiros" title="Retiros de Cajas">Retiros de Cajas</a>
    </div>
    <input type="hidden" id="cajaId" nombre="cajaId" value="<%= caja.id %>">

<% if (locals.loginUser) { %>
<div class="form_thre">
     <div class="frmthre_child">
        <label for="proveedorId">Proveedores:</label>
        </div>
        <div class="frmthre_child">
        <label for="proveedorId">Nómina:</label>
        </div>
         <div class="frmthre_child">
        <label for="proveedorId">Prestamistas:</label>
        </div>
        <div class="frmthre_child">
           <select name="proveedorId" id="proveedorId" class="searchProv">
           <option value="0" disabled="true" selected>Seleccione</option>
            <% for (var i in proveedors) { %>
                <% proveedor = proveedors[i]; %>
            <option value="<%= proveedor.id %>"><%= proveedor.nombre %></option>
            <% } %>
        </select>
    </div>
    
       <div class="frmthre_child">
           <select name="quincenaId" id="quincenaId" class="searchNom">
           <option value="0" disabled="true" selected>Seleccione</option>
            <% for (var i in quincenas) { %>
                <% quincena = quincenas[i]; %>
            <option value="<%= quincena.id %>">#<%= quincena.id %> Desde:<%= quincena.desde %> Hasta:<%= quincena.hasta %></option>
            <% } %>
        </select>
    </div>
     <div class="frmthre_child">
           <select name="financieraId" id="financieraId" class="searchFinan">
           <option value="0" disabled="true" selected>Seleccione</option>
            <% for (var i in financieras) { %>
                <% financiera = financieras[i]; %>
            <option value="<%= financiera.id %>"><%= financiera.nombre %></option>
            <% } %>
        </select>
    </div>
</div>
    <% } %>
   
<div class="container">
 <div class="row">
        <div class="col-12"><b>Pagos a Proveedores</b></div>
       
    </div>

    <div class="row">
        <div class="col-2">Efectivo</div>
        <div class="col-2">Banco</div>
        <div class="col-2">Fuera de Caja</div>
        <div class="col-2">Proveedor</div>
        <div class="col-2">Doc</div>
        <div class="col-1">Ver Prod.</div>
        <div class="col-1">Eliminar</div>
    </div>
 
    <% let totalEfec=0; %>
    <% let totalEfecGral=0; %>
<% for (var n in pagoproveedors) { %>
    <% var pagoproveedor=pagoproveedors[n]; %>
    <% totalEfec = totalEfec + pagoproveedor.efectivo; %>
    <% totalEfecGral = totalEfecGral + pagoproveedor.efectivo; %>
    <div class="row">
        <div class="col-2"><%= pagoproveedor.efectivo %></div>
        <div class="col-2"><%= pagoproveedor.banco %></div>
        <div class="col-2"><%= pagoproveedor.fueradCaja %></div>
        <div class="col-2"><%= pagoproveedor.pertProPag.nombre %></div>
        <div class="col-2"><%= pagoproveedor.pertBusPag.doc %></div>
        <div class="col-1">
         <img class="showProductos" src="/assets/img/produccion.png" width="20px" data-id="<%= pagoproveedor.pertBusPag.id %>" data-doc="<%= pagoproveedor.pertBusPag.doc %>">
         </div>
         <div class="col-1">
         <% if (caja.cierre === false) { %>    
            <a href="/cajas/<%= caja.id %>/pagoproveedors/<%= pagoproveedor.id %>?_method=DELETE" onClick="return confirm('Eliminar Pago?: <%= pagoproveedor.pertBusPag.doc %>');"><i class="fa-regular fa-trash-can"></i></a> 
            <% } %>
           </div>
    </div>

    <% } %>
    <div class="row">
        <div class="col-2"><b><%= totalEfec %></b></div>
        <div class="col-2"></div>
        <div class="col-2"></div>
        <div class="col-2"></div>
        <div class="col-2"></div>
        <div class="col-2"></div>
    </div>
    

</div>
<br>
<div class="container">
 <div class="row">
        <div class="col-12"><b>Pagos de Préstamos Financieros</b></div>
       
    </div>

    <div class="row">
        <div class="col-2">Efectivo</div>
        <div class="col-2">Banco</div>
        <div class="col-2">Fuera de Caja</div>
        <div class="col-2">Financiera</div>
        <div class="col-2">Doc</div>
        <div class="col-2">Eliminar</div>
    </div>
 
    <%  totalEfec=0; %>
<% for (var n in pagoprestfinancieros) { %>
    <% var pagoprestfinanciero = pagoprestfinancieros[n]; %>
    <% totalEfec = totalEfec + pagoprestfinanciero.efectivo; %>
    <% totalEfecGral = totalEfecGral + pagoprestfinanciero.efectivo; %>
    <div class="row">
        <div class="col-2"><%= pagoprestfinanciero.efectivo %></div>
        <div class="col-2"><%= pagoprestfinanciero.banco %></div>
        <div class="col-2"><%= pagoprestfinanciero.fueradCaja %></div>
        <div class="col-2"><%= pagoprestfinanciero.pertPrePaf.pertFinPre.nombre %></div>
        <div class="col-2"><%= pagoprestfinanciero.pertPrePaf.id %></div>
        <div class="col-2">
        <% if (caja.cierre === false) { %>    
            <a href="/cajas/<%= caja.id %>/pagoprestfinancieros/<%= pagoprestfinanciero.id %>?_method=DELETE" onClick="return confirm('Eliminar Pago?: <%= pagoprestfinanciero.pertPrePaf.pertFinPre.nombre %>');"><i class="fa-regular fa-trash-can"></i></a> 
            <% } %>
           </div>
    </div>

    <% } %>
    <div class="row">
        <div class="col-2"><b><%= totalEfec %></b></div>
        <div class="col-2"></div>
        <div class="col-2"></div>
        <div class="col-2"></div>
        <div class="col-2"></div>
        <div class="col-2"></div>
    </div>
    

</div>
<br>
<div class="container">
<div class="col-12"><b>Pagos de Nóminas</b></div>

    <div class="row">
        <div class="col-2">Efectivo</div>
        <div class="col-4">Quincena</div>
        <div class="col-5">Empleado</div>
        <div class="col-1">Eliminar</div>
    </div>
 
    <% totalEfec=0; %>
<% for (var n in pagonominas) { %>
    <% var pagonomina = pagonominas[n]; %>
    <% totalEfec = totalEfec + pagonomina.monto; %>
    <% totalEfecGral = totalEfecGral + pagonomina.monto; %>
    <div class="row">
        <div class="col-2"><%= pagonomina.monto %></div>
        <div class="col-4"><%= pagonomina.pertNomPan.pertQuiNom.desde %> al <%= pagonomina.pertNomPan.pertQuiNom.hasta %></div>
        <div class="col-5"><%= pagonomina.pertNomPan.pertEmpNom.nombres %></div>
         <div class="col-1">
         <% if (caja.cierre === false) { %>    
            <a href="/cajas/<%= caja.id %>/pagonominas/<%= pagonomina.id %>?_method=DELETE" onClick="return confirm('Eliminar Pago?: <%= pagonomina.pertNomPan.pertEmpNom.nombres %>');"><i class="fa-regular fa-trash-can"></i></a> 
            <% } %>
           </div>
    </div>

    <% } %>
    <div class="row">
        <div class="col-2"><b><%= totalEfec %></b></div>
        <div class="col-4"></div>
        <div class="col-5"></div>
        <div class="col-1"></div>
    </div>
    

</div>

<h2>Total Efectivo Pagos: <%= totalEfecGral %></h2>
                                                                     
