<div class="toggle2">
    <span class="fa-solid fa-sack-dollar"></span>
</div>
<div class="submenu">
        <a href="/cajas/<%= caja.id %>/servbuses" title="Servicios" class="in">Servicios</a>
        <a href="/cajas/<%= caja.id %>/vents" title="Ventas">Ventas</a>
        <a href="/cajas/<%= caja.id %>/cobros" title="Cobros">Cobros</a>
        <a href="/cajas/<%= caja.id %>/busgastos" title="Gastos Ope.">Gastos Ope.</a>
        <a href="/cajas/<%= caja.id %>/admgastos" title="Gastos Admón">Gastos Admón</a>
        <a href="/cajas/<%= caja.id %>/pagos" title="Pagos"><b><u>Pagos</u></b></a>
        <a href="/cajas/<%= caja.id %>/anticipos" title="Anticipos">Anticipos</a>
        <a href="/cajas/<%= caja.id %>/retiros" title="Retiros de Cajas">Retiros de Cajas</a>
    </div>
    <input type="hidden" id="cajaId" nombre="cajaId" value="<%= caja.id %>">

<% if (locals.loginUser) { %>
<div class="form_thre">
     <div class="frmthre_child">
        <label for="proveedorId">Proveedores:</label>
        </div>
        <div class="frmthre_child">
        <label for="proveedorId">Nómina:</label>
        </div>
         <div class="frmthre_child">
        <label for="proveedorId">Prestamistas:</label>
        </div>
        <div class="frmthre_child">
           <select name="proveedorId" id="proveedorId" class="searchProv">
           <option value="0" disabled="true" selected>Seleccione</option>
            <% for (var i in proveedors) { %>
                <% proveedor = proveedors[i]; %>
            <option value="<%= proveedor.id %>"><%= proveedor.nombre %></option>
            <% } %>
        </select>
    </div>
    
       <div class="frmthre_child">
           <select name="quincenaId" id="quincenaId" class="searchNom">
           <option value="0" disabled="true" selected>Seleccione</option>
            <% for (var i in quincenas) { %>
                <% quincena = quincenas[i]; %>
            <option value="<%= quincena.id %>">#<%= quincena.id %> Desde:<%= quincena.desde %> Hasta:<%= quincena.hasta %></option>
            <% } %>
        </select>
    </div>
     <div class="frmthre_child">
           <select name="proveedorId3" id="proveedorId3">
            <% for (var i in proveedors) { %>
                <% proveedor = proveedors[i]; %>
            <option value="<%= proveedor.id %>"><%= proveedor.nombre %></option>
            <% } %>
        </select>
    </div>
</div>
    <% } %>
   
<div class="container">

    <div class="row">
        <div class="col-2">Efectivo</div>
        <div class="col-2">Banco</div>
        <div class="col-2">Fuera de Caja</div>
        <div class="col-2">Proveedor</div>
        <div class="col-2">Doc</div>
        <div class="col-1">Ver Prod.</div>
        <div class="col-1">Eliminar</div>
    </div>
 
    <% let totalEfec=0; %>
<% for (var n in pagoproveedors) { %>
    <% var pagoproveedor=pagoproveedors[n]; %>
    <% totalEfec = totalEfec + pagoproveedor.efectivo; %>
    <div class="row">
        <div class="col-2"><%= pagoproveedor.efectivo %></div>
        <div class="col-2"><%= pagoproveedor.banco %></div>
        <div class="col-2"><%= pagoproveedor.fueradCaja %></div>
        <div class="col-2"><%= pagoproveedor.pertProPag.nombre %></div>
        <div class="col-2"><%= pagoproveedor.pertBusPag.doc %></div>
        <div class="col-1">
         <img class="showProductos" src="/assets/img/produccion.png" width="20px" data-id="<%= pagoproveedor.pertBusPag.id %>" data-doc="<%= pagoproveedor.pertBusPag.doc %>">
         </div>
         <div class="col-1">
            <a href="/cajas/<%= caja.id %>/pagoproveedors/<%= pagoproveedor.id %>?_method=DELETE" onClick="return confirm('Eliminar Pago?: <%= pagoproveedor.pertBusPag.doc %>');"><i class="fa-regular fa-trash-can"></i></a> 
           </div>
    </div>

    <% } %>
    <div class="row">
        <div class="col-2"><b><%= totalEfec %></b></div>
        <div class="col-2"></div>
        <div class="col-2"></div>
        <div class="col-2"></div>
        <div class="col-2"></div>
        <div class="col-2"></div>
    </div>
    

</div>

<h2>Total Efectivo Pagos: <%= totalEfec %></h2>
                                                                     
