<h1>
    Propietarios:
</h1>

<table>
    <% for (var i in propietarios) { %>
        <% var propietario=propietarios[i]; %>
            <tr>

                <td>
                    <a href="/propietarios/<%= propietario.id %>/unidads">
                        <%= propietario.nombre %>
                    </a>
                </td>
                <% if (locals.loginUser) { %>
                    <td>
                        <a href="/propietarios/<%= propietario.id %>" class="button">Ver</a>
                    </td>
                    <% if (locals.loginUser.isAdmin) { %>
                        <td>
                            <a href="/propietario/<%= propietario.id %>/edit" class="button">Editar</a>
                        </td>
                        <td>
                            <a href="/propietario/<%= propietario.id %>?_method=DELETE"
                                onClick="return confirm('Borrar: <%= propietario.nombre %>');" class="button">Borrar</a>
                        </td>
                <% } %>
                    <% } %>
            </tr>
    <% } %>
</table>
<% if (locals.loginUser && locals.loginUser.isAdmin) { %>
    <a href="propietarios/new" class="button">Crear nuevo Propietario</a>
    <% } %>
        <% if (locals.paginate_control) { %>
            <%- paginate_control %>
                <% } %>