<div class="form_one">
    <div class="label">
        <label for="monto">Monto:</label>
        </div>
        <div class="input">
        <input type="text" id="monto" name="monto" value="<%= confservice.monto %>" placeholder="Monto" autocomplete="off"/>
    </div>
    <div class="label">
            <label for="detalle"  class="itemNarrow">Carga Multiple:</label>
            </div>
            <div class="input">
            <div>
            <input type="checkbox" id="detalle" name="detalle" placeholder="Detalle" value="true" <%= true === confservice.detalle ? "checked" : "" %> 
            <%= services[0].asocProducto > 0  ? `disabled="true"` : "" %> 
            autocomplete="off"/>
            </div>
        </div>
        <div class="label">
            <label for="vuelta">Vuelta:</label>
            </div>
            <div class="input">
            <div>
            <input type="checkbox" id="vuelta" name="vuelta" placeholder="Vuelta" value="true" <%= true === confservice.vuelta ? "checked" : "" %>autocomplete="off"/>
            </div>
        </div>
    <div class="label">
        <label for="serviceId">Servicio:</label>
        </div>
        <div class="input">
        <select name="serviceId" id="serviceId">
            <% for (var i in services) { %>
                <% service = services[i]; %>
            <option value="<%= service.id %>"><%= service.nombre %></option>
            <% } %>
        </select>
    </div>
    <div class="label">
        <label for="grupoId">Grupo:</label>
        </div>
        <div class="input">
        <select name="grupoId" id="grupoId">
            <% for (var i in grupos) { %>
                <% grupo = grupos[i]; %>
            <option value="<%= grupo.id %>"><%= grupo.nombre %></option>
            <% } %>
        </select>
    </div>
    <a href="/goback"><input type="button" class="button_secundario" value="Cancelar"></a>
    <input class="button_primary" type="submit" value="Guardar">
</div>