<h1>Configuración de Servicios:</h1>

<div class='row'>
            <div class="col-2">
                Monto
            </div>
            <div class="col-2">
                Detalle
            </div>
            <div class="col-2">
                Vuelta
            </div>
            <div class="col-2">
                Servicio
            </div>
            <div class="col-2">
                Grupo
            </div>
            <div class="col-2">
            </div>
          
        </div>
    <% for (var i in confservices) { %>
        <% var confservice = confservices[i]; %>
        <div class='row'>
            <div class="col-2">
                <%= confservice.monto %>
            </div>
            <div class="col-2">
                <%= confservice.detalle %>
            </div>
            <div class="col-2">
                <%= confservice.vuelta %>
            </div>
            <div class="col-2">
                <%= confservice.pertSerCser.nombre %>
            </div>
            <div class="col-2">
                <%= confservice.pertGruCser.nombre %>
            </div>
            <% if (locals.loginUser && locals.loginUser.isAdmin) { %>
            <div class="col-2">
                <a href="/confservices/<%= confservice.id %>/edit"><i class="fa-regular fa-pen-to-square"></i></a>
            </div>
            
            <% } %>
        </div>
    <% } %>
</table>
