<div class="form_one">
<div class="label">
    <label for="codigo">Código:</label>
    </div>
    <div class="input">
    <input type="text" id="codigo" name="codigo" value="<%= rout.codigo %>" placeholder="Código"
        autocomplete="off" />
</div>

<div class="label">
    <label for="nombre" class="itemNarrow">Nombre:</label>
    </div>
    <div class="input">
    <input type="text" class="itemWide" id="nombre" name="nombre" value="<%= rout.nombre %>" placeholder="Nombre"
        autocomplete="off" />
</div>

<div class="label">
    <label for="parNorte" class="itemNarrow">Paradero Norte:</label>
    </div>
    <div class="input">
    <input type="text" class="itemWide" id="parNorte" name="parNorte" value="<%= rout.parNorte %>"
        placeholder="Paradero Norte" autocomplete="off" />
</div>

<div class="label">
    <label for="posNorte" class="itemNarrow">Posición de Paradero Norte:</label>
    </div>
    <div class="input">
    <input type="text" class="itemWide" id="posNorte" name="posNorte" value="<%= rout.posNorte %>"
        placeholder="Posición de Paradero Norte" autocomplete="off" />
</div>

<div class="label">
    <label for="parSur" class="itemNarrow">Paradero Sur:</label>
    </div>
    <div class="input">
    <input type="text" class="itemWide" id="parSur" name="parSur" value="<%= rout.parSur %>" placeholder="Paradero Sur"
        autocomplete="off" />
</div>

<div class="label">
    <label for="posSur" class="itemNarrow">Posición de Paradero Sur:</label>
    </div>
    <div class="input">
    <input type="text" class="itemWide" id="posSur" name="posSur" value="<%= rout.posSur %>"
        placeholder="Posición de Paradero Sur" autocomplete="off" />
</div>

<div class="label">
    <label for="empresa" class="itemNarrow">Empresa:</label>
    </div>
    <div class="input">
    <select class="itemWide" id="empresaId" name="empresaId">
        <% for (var i in empresas) { %>
            <% var empresa=empresas[i]; %>
                <option value="<%= empresa.id %>" <%= empresa.id === rout.empresaId ? "selected" : "" %>>
                    <%= empresa.razon %>
                </option>
                <% } %>
    </select>
</div>

<br />
<button href="/goback" class="button_secundario">Cancelar</button>

<input class="button_primary" type="submit" value="Guardar">
</div>