<h1>
    Ver Ruta:
</h1>

<ul>
    <li>Código: <b><%= rout.codigo %></b></li>
    <li>Nombre: <b><%= rout.nombre %></b></li>
    <li>Paradero Norte: <b><%= rout.parNorte %></b></li>
    <li>Posición de Paradero Norte: <b><%= rout.posNorte %></b></li>
    <li>Paradero Sur: <b><%= rout.parSur %></b></li>
    <li>Posición de Paradero Sur: <b><%= rout.posSur %></b></li>
</ul>

<a href="/routs" class="button">Regresar</a>