<div class="form_one">
<div class="label">
    <label for="codigo">C칩digo:</label>
    </div>
    <div class="input">
    <input type="text" class="itemWide" id="codigo" name="codigo" value="<%= unidad.codigo %>" placeholder="C칩digo"
        autocomplete="off" />
</div>

<div class="label">
    <label for="placa" class="itemNarrow">Placa:</label>
    </div>
    <div class="input">
    <input type="text" class="itemWide" id="placa" name="placa" value="<%= unidad.placa %>" placeholder="Placa"
        autocomplete="off" />
</div>

<div class="label">
    <label for="marca" class="itemNarrow">Marca:</label>
    </div>
    <div class="input">
    <input type="text" class="itemWide" id="marca" name="marca" value="<%= unidad.marca %>" placeholder="Marca"
        autocomplete="off" />
</div>

<div class="label">
    <label for="modelo" class="itemNarrow">Modelo:</label>
    </div>
    <div class="input">
    <input type="text" class="itemWide" id="modelo" name="modelo" value="<%= unidad.modelo %>"
        placeholder="Modelo" autocomplete="off" />
</div>

<div class="label">
    <label for="ano" class="itemNarrow">A침o:</label>
    </div>
    <div class="input">
    <input type="text" class="itemWide" id="ano" name="ano" value="<%= unidad.ano %>" placeholder="A침o"
        autocomplete="off" />
</div>

<div class="label">
    <label for="routId" class="itemNarrow">Ruta:</label>
    </div>
    <div class="input">
    <select class="itemWide" id="routId" name="routId">
        <% for (var i in routs) { %>
            <% var rout = routs[i]; %>
                <option value="<%= rout.id %>" <%=rout.id===unidad.routId ? "selected" : "" %>>
                    <%= rout.nombre %>
                </option>
                <% } %>
    </select>
</div>

<div class="label">
    <label for="propietario" class="itemNarrow">Propietario:</label>
    </div>
    <div class="input">
    <select class="itemWide" id="propietariosId" name="propietarioId">
        <% for (var i in propietarios) { %>
            <% var propietario = propietarios[i]; %>
                <option value="<%= propietario.id %>" <%=propietario.id===unidad.propietarioId ? "selected" : "" %>>
                    <%= propietario.nombre %>
                </option>
                <% } %>
    </select>
</div>

<button href="/goback" class="button_primary">Cancelar</button>

<input class="button_secundario" type="submit" value="Guardar">