<div class="right">
    <form method="get" action="/unidads">
    <input type="submit" class="crear" value="Buscar">
        <input type="search" name="search" value="<%= locals.search || '' %>" placeholder="Unidad a buscar"
            autocomplete="off" />
    </form>
</div>

<h1>
    Unidades:
</h1>
<% if (locals.loginUser && locals.loginUser.isAdmin) { %>
<a href="unidads/new" class="crear">Crear nueva Unidad</a>
<% } %>
<div class="container">
    <% for (var i in unidads) { %>
        <% var unidad=unidads[i]; %>
           <div class="row">
                <div class="col-9">
                    Placa: <%= unidad.placa %> Código: <%= unidad.codigo %>
                </div>
                <% if (locals.loginUser) { %>
                <div class="col-3">
                    <a href="/unidads/<%= unidad.id %>"><i class="fa-regular fa-eye"></i></a>
               
                <% if (locals.loginUser.isAdmin) { %>
               
                    <a href="/unidads/<%= unidad.id %>/edit"><i class="fa-regular fa-pen-to-square"></i></a>
               
                    <a href="/unidads/<%= unidad.id %>?_method=DELETE"
                        onClick="return confirm('Borrar: <%= unidad.placa %>');"><i class="fa-regular fa-trash-can"></i></a>
                
                <% } %>
                 </div>
                <% } %>
            </div>
            <% } %>
 <div class="row">           
 <div class="col-12">
<% if (locals.paginate_control) { %>
    <%- paginate_control %>
<% } %>
 </div>
 </div>
 </div>