<div class="right">
    <form method="get" action="/unidads">
        <input type="text" name="search" value="<%= locals.search || '' %>" placeholder="Unidad a buscar"
            autocomplete="off" />
        <input type="submit" value="Buscar">
    </form>
</div>

<h1>
    Unidades:
</h1>

<table>
    <% for (var i in unidads) { %>
        <% var unidad=unidads[i]; %>
            <tr>
                <td>
                    Placa: <%= unidad.placa %> Código: <%= unidad.codigo %>
                </td>
                <% if (locals.loginUser) { %>
                <td>
                    <a href="/unidads/<%= unidad.id %>" class="button">Ver</a>
                </td>
                <% if (locals.loginUser.isAdmin) { %>
                <td>
                    <a href="/unidads/<%= unidad.id %>/edit" class="button">Editar</a>
                </td>
                <td>
                    <a href="/unidads/<%= unidad.id %>?_method=DELETE"
                        onClick="return confirm('Borrar: <%= unidad.placa %>');" class="button">Borrar</a>
                </td>
                <% } %>
                <% } %>
            </tr>
            <% } %>
</table>
<% if (locals.loginUser && locals.loginUser.isAdmin) { %>
<a href="unidads/new" class="button">Crear nueva Unidad</a>
<% } %>
<% if (locals.paginate_control) { %>
    <%- paginate_control %>
<% } %>