<nav class="main" id="mainNav" role="navigation">
    <a href="/"><span class="fa fa-home"></span></a>
  </nav>
  
  <section class="main" id="mainSection"><h1>
    Ver Unidad:
</h1>

<ul>
    <li>Código: <b><%= unidad.codigo %></b></li>
    <li>Placa: <b><%= unidad.placa %></b></li>
    <li>Marca: <b><%= unidad.marca %></b></li>
    <li>Modelo: <b><%= unidad.modelo %></b></li>
    <li>Año: <b><%= unidad.ano %></b></li>
    <li>Ruta: <b><%= unidad.routId %></b></li>
    <li>Propietario: <b><%= unidad.propietarioId %></b></li>
</ul>

<a href="/unidads" class="button">Regresar</a>
</section>