<div class="toggle2">
    <span class="fa-solid fa-sack-dollar"></span>
</div>
<div class="submenu">
        <a href="/cajas/<%= caja.id %>/servbuses" title="Servicios" class="in">Servicios</a>
        <a href="/cajas/<%= caja.id %>/vents" title="Ventas">Ventas</a>
        <a href="/cajas/<%= caja.id %>/cobros" title="Cobros">Cobros</a>
        <a href="/cajas/<%= caja.id %>/busgastos" title="Gastos Ope."><b><u>Gastos Ope.</u></b></a>
        <a href="/cajas/<%= caja.id %>/admgastos" title="Gastos Admón">Gastos Admón</a>
        <a href="/cajas/<%= caja.id %>/pagos" title="Pagos">Pagos</a>
        <a href="/cajas/<%= caja.id %>/anticipos" title="Anticipos">Anticipos</a>
        <a href="/cajas/<%= caja.id %>/retiros" title="Retiros de Cajas">Retiros de Cajas</a>
    </div>

<% if (locals.loginUser) { %>
    <a href="/cajas/<%= caja.id %>/busgastos/new" class="crear">Crear Nuevo Gasto Ope.</a>
    <% } %>
   
<div class="container">

    <div class="row flotante">
        <div class="col-1">Tipo de Pago</div>
        <div class="col-2">Monto</div>
        <div class="col-2">Efectivo Abon.</div>
        <div class="col-1">Doc</div>
        <div class="col-4">Detalle</div>
        <div class="col-1"></div>
    </div>

    <% let totalEfec=0; %>
<% for (var i in busgastos) { %>

    <% var busgasto=busgastos[i]; %>
    <% totalEfec = totalEfec + busgasto.abonado; %>
    <div class="row">
        <div class="col-1"><%= busgasto.tipoPago %></div>
        <div class="col-2"><%= busgasto.monto %></div>
        <div class="col-2"><%= busgasto.abonado %></div>
        <div class="col-1"><%= busgasto.doc %></div>
        <div class="col-4">
<% for (var n in busgasto.detbusgastos) { %>
<% var detbusgasto=busgasto.detbusgastos[n]; %>
        Pd: <%= detbusgasto.pertUniDbg.codigo %>-<%= detbusgasto.pertUniDbg.placa %> Costo:<%= detbusgasto.costoUni %> Producto:<%= detbusgasto.pertProDbg.nombre %> Cant:<%= detbusgasto.cant %> Total:<%= detbusgasto.total %>,
         <% } %>
        </div>
        <div class="col-1">
         <a href="busgastos/<%= busgasto.id %>"><i class="fa-regular fa-eye"></i></a>
            <a href="/cajas/<%= caja.id %>/busgastos/<%= busgasto.id %>?_method=DELETE" onClick="return confirm('Eliminar?: Doc: <%= busgasto.doc %> Monto:<%= busgasto.monto %>');"><i class="fa-regular fa-trash-can"></i></a> 
           </div>
    </div>

    <% } %>
    <div class="row">
     <div class="col-1"></div>
        <div class="col-2"></div>
        <div class="col-2"><b><%= totalEfec %></b></div>
        <div class="col-1"></div>
        <div class="col-4"></div>
        <div class="col-1"></div>
    </div>
    

</div>

<h2>Total Efectivo Gasto Ope.: <%= totalEfec %></h2>
                                                                     
