
<div class="submenu">
         <a href="#" class="showCaja" data-id="<%= caja.id %>" title="Resumen Caja"><img align="top" width="20px" height="20px" src="/assets/img/flujo-de-efectivo.png"> Caja</a>
        <a href="/cajas/<%= caja.id %>/servbuses" title="Servicios">Servicios</a>
        <a href="/cajas/<%= caja.id %>/vents" title="Ventas">Ventas</a>
        <a href="/cajas/<%= caja.id %>/cobros" title="Cobros"><b><u>Cobros</u></b></a>
        <a href="/cajas/<%= caja.id %>/busgastos" title="Gastos Ope.">Gastos Ope.</a>
        <a href="/cajas/<%= caja.id %>/admgastos" title="Gastos Admón">Gastos Admón</a>
        <a href="/cajas/<%= caja.id %>/pagos" title="Pagos">Pagos</a>
        <a href="/cajas/<%= caja.id %>/anticipos" title="Anticipos">Anticipos D2</a>
        <a href="/cajas/<%= caja.id %>/retiros" title="Retiros de Cajas">Retiros de Cajas</a>
    </div>    

<% if (locals.loginUser) { %>
    <a href="/cajas/<%= caja.id %>/cobros/new" class="crear">Crear Nuevo Cobro</a>
    <% } %>
<% let totalGral=0; %>
<% let totalEfec=0; %>



<div class="row">

     <div class="col-12"><b>Cobros de Cpc de Servicios</b></div>
</div>
<div class="row">

     <div class="col-3">Pd</div>
     <div class="col-3">Monto</div>
     <div class="col-3">Efectivo</div>
     <div class="col-3"></div>
</div>

    <% for (var i in cobrosserv) { %>
        <% var cobroserv=cobrosserv[i]; %>
        <% totalEfec=totalEfec + cobroserv.monto; %>

    <div class="row">
        <div class="col-3">
        <%= cobroserv.codigo %>-<%= cobroserv.placa %>
        <%= cobroserv.nombre %> <%= cobroserv.apellido %>
        <%= cobroserv.fecha %>
        <%= cobroserv.servicio %>
        </div>
        <div class="col-3">
        <%= cobroserv.monto %>
        </div>
        <div class="col-3">
        <%= cobroserv.monto %>
        </div>
        <div class="col-3">
        <% if (locals.loginUser && (locals.loginUser.isAdmin || locals.loginUser.id===caja.authorId)) { %>
            <a href="cobros/<%= cobroserv.id %>"><i class="fa-regular fa-eye"></i></a>
            <a href="cobros/<%= cobroserv.id %>?_method=DELETE" onClick="return confirm('Eliminar?: <%= cobroserv.monto %>');"><i class="fa-regular fa-trash-can"></i></a>
        <% } %>
        </div>
    </div>
    <% totalGral = totalGral + cobroserv.monto; %>
    <% } %>
   
<div class="row">

     <div class="col-3"></div>
     <div class="col-3"></div>
     <div class="col-3"><%= totalEfec %></div>
     <div class="col-3"></div>
</div>
 <% totalEfec=0; %>

    <div class="row">

     <div class="col-12"><b>Cobros de Cpc de Ventas</b></div>
</div>
<div class="row">

     <div class="col-3">Pd</div>
     <div class="col-3">Monto</div>
     <div class="col-3">Efectivo</div>
     <div class="col-3"></div>
</div>

    <% for (var i in cobrosvta) { %>
        <% var cobrovta=cobrosvta[i]; %>
        <% totalEfec=totalEfec + cobrovta.monto; %>

    <div class="row">
        <div class="col-3">
        <%= cobrovta.codigo %>-<%= cobrovta.placa %>
        <%= cobrovta.nombre %> <%= cobrovta.apellido %>
        <%= cobrovta.fecha %>
        <%= cobrovta.producto %>
        </div>
        <div class="col-3">
        <%= cobrovta.monto %>
        </div>
        <div class="col-3">
        <%= cobrovta.monto %>
        </div>
        <div class="col-3">
        <% if (locals.loginUser && (locals.loginUser.isAdmin || locals.loginUser.id===caja.authorId)) { %>
            <a href="cobros/v/<%= cobrovta.id %>"><i class="fa-regular fa-eye"></i></a>
            <a href="cobros/v/<%= cobrovta.id %>?_method=DELETE" onClick="return confirm('Eliminar?: <%= cobrovta.monto %>');"><i class="fa-regular fa-trash-can"></i></a>
        <% } %>
        </div>
    </div>
    <% totalGral = totalGral + cobrovta.monto; %>
    <% } %>
  
  
<div class="row">

     <div class="col-3"></div>
     <div class="col-3"></div>
     <div class="col-3"><%= totalEfec %></div>
     <div class="col-3"></div>
</div>

<% totalEfec=0; %>

    <div class="row">

     <div class="col-12"><b>Cobros de Otros Cpc</b></div>
</div>
<div class="row">

     <div class="col-3">Operador</div>
     <div class="col-3">Monto</div>
     <div class="col-3">Efectivo</div>
     <div class="col-3"></div>
</div>

    <% for (var i in cobroscpc) { %>
        <% var cobrocpc=cobroscpc[i]; %>
        <% totalEfec=totalEfec + cobrocpc.monto; %>

    <div class="row">
        <div class="col-3">
        <%= cobrocpc.nombre %> <%= cobrocpc.apellido %>
        <%= cobrocpc.fecha %>
        <%= cobrocpc.observaciones %>
        </div>
        <div class="col-3">
        <%= cobrocpc.monto %>
        </div>
        <div class="col-3">
        <%= cobrocpc.monto %>
        </div>
        <div class="col-3">
        <% if (locals.loginUser && (locals.loginUser.isAdmin || locals.loginUser.id===caja.authorId)) { %>
            <a href="cobros/c/<%= cobrocpc.id %>"><i class="fa-regular fa-eye"></i></a>
            <a href="cobros/c/<%= cobrocpc.id %>?_method=DELETE" onClick="return confirm('Eliminar?: <%= cobrocpc.monto %>');"><i class="fa-regular fa-trash-can"></i></a>
        <% } %>
        </div>
    </div>
    <% totalGral = totalGral + cobrocpc.monto; %>
    <% } %>
  
  
<div class="row">

     <div class="col-3"></div>
     <div class="col-3"></div>
     <div class="col-3"><%= totalEfec %></div>
     <div class="col-3"></div>
</div>
      

<h1>Total Efectivo: <%= totalGral %></h1>

<% include _main.ejs %>                                                                      
