<div class="toggle2">
    <span class="fa fa-bars"></span>
</div>
<div class="submenu">
        <a href="/cajas/<%= caja.id %>/servbuses" title="Servicios">Servicios</a>
        <a href="/cajas/<%= caja.id %>/vents" title="Ventas">Ventas</a>
        <a href="/cajas/<%= caja.id %>/cobros" title="Cobros"><b><u>Cobros</u></b></a>
        <a href="/cajas/<%= caja.id %>/gastopvos" title="Gastos Ope.">Gastos Ope.</a>
        <a href="/cajas/<%= caja.id %>/gastadvos" title="Gastos Admón">Gastos Admón</a>
        <a href="/cajas/<%= caja.id %>/pagos" title="Pagos">Pagos</a>
        <a href="/cajas/<%= caja.id %>/anticipos" title="Anticipos">Anticipos</a>
        <a href="/cajas/<%= caja.id %>/retiros" title="Retiros de Cajas">Retiros de Cajas</a>
    </div>    

<% if (locals.loginUser) { %>
    <a href="/cajas/<%= caja.id %>/cobros/new" class="crear">Crear Nuevo Cobro</a>
    <% } %>
<% let totalGral=0; %>
<% let totalEfec=0; %>

<table id="cajaIndex">

     <tr>
        <th>Pd</th>
        <th>Monto</th>
        <th>Efectivo</th>
        <th></th>
    </tr>

    <% for (var i in cobros) { %>
        <% var cobro=cobros[i]; %>
        <% totalEfec=totalEfec + cobro.monto; %>

    <tr>
        <td>
        <%= cobro.codigo %>-<%= cobro.placa %>
        </td>
        <td>
        <%= cobro.monto %>
        </td>
        <td>
        <%= cobro.monto %>
        </td>
        <td>
        <% if (locals.loginUser && (locals.loginUser.isAdmin || locals.loginUser.id===caja.authorId)) { %>
            <a href="/cobros/<%= cobro.id %>" class="link">Ver</a>
            <a href="/cobros/<%= cobro.id %>/edit" class="link">Editar</a>
            <a href="/cobros/<%= cobro.id %>?_method=DELETE" onClick="return confirm('Eliminar?: <%= cobro.monto %>');" class="link">Borrar</a>
        <% } %>
        </td>
    </tr>
    <% totalGral = totalGral + cobro.monto; %>
    <% } %>
    <tr>
        <th></th>
        <th></th>
        <th><%= totalEfec %></th>
        <th></th>
    </tr>
</table>
   

<h1>Total Efectivo: <%= totalGral %></h1>

<% include _main.ejs %>                                                                      
